﻿@model SearchBoxModel
@using System.Text.Encodings.Web
<form asp-route="ProductSearch" method="get" id="small-search-box-form">
    <div class="m-search-input-wrap layout-body-wrap">
        <div class="layout-body J-inputWrap">

            <input type="text" class="search-box-text m-search-input" id="small-searchterms" autocomplete="off" name="q" placeholder="@T("Search.SearchBox.Tooltip")" />

            <input type="checkbox" id="IsProduct"  name="IsProduct" value="true" style="display:none;"  />
            @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox_before_search_button" })
            @*<input type="submit" class="button-1 search-box-button" value="@T("Search.Button")" />*@
            @if (Model.SearchTermMinimumLength > 0)
            {
                <script type="text/javascript" asp-location="Footer">
            $("#small-search-box-form").submit(function(event) {
                if ($("#small-searchterms").val() == "") {
                    alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Search.EnterSearchTerms").Text))');
                    $("#small-searchterms").focus();
                    event.preventDefault();
                }
            });
                </script>
            }
            @if (Model.AutoCompleteEnabled)
            {
                <script type="text/javascript" asp-location="Footer">
            $(document).ready(function() {
                $('#small-searchterms').autocomplete({
                        delay: 500,
                        minLength: @(Model.SearchTermMinimumLength.ToString()),
                    //source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                    source: function (request, response) {
                        $.ajax({
                            url: "@(Url.RouteUrl("ProductSearchAutoComplete"))",
                            //dataType: "jsonp",
                            data: {
                                term: request.term,
                                isProduct : true
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                        appendTo: '.search-box',
                        select: function(event, ui) {
                            $("#small-searchterms").val(ui.item.label);
                            setLocation(ui.item.producturl);
                            return false;
                        }
                    })
                    .data("ui-autocomplete")._renderItem = function(ul, item) {
                        var t = item.label;
                        //html encode
                        t = htmlEncode(t);
                        return $("<li></li>")
                            .data("item.autocomplete", item)
                            .append("<a>@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)<span>" + t + "</span></a>")
                            .appendTo(ul);
                    };
            });
                </script>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "searchbox" })

        </div>
    </div>
    <div class="layout-wing-left" style="width: 107px;">
        <div class="m-search-select J-searchType">
            <select style="display:none;">
                <option value="0" placeholder="Enter a keyword to search products">Products</option>
                <option value="1" placeholder="Enter a keyword to search suppliers">Suppliers</option>               
            </select>
            <div class="m-search-select-title">
                <span>Products</span> <i class="ob-icon icon-down"></i>
            </div>
            <dl class="m-search-option-list">
                <dd class="m-search-option c" data-option="1"><a href="javascript:void(0);">Suppliers</a></dd>
           </dl>
        </div>
    </div>
    <div class="layout-wing-right">
        <div class="m-search-btn-wrap">
            <button type="submit" class="m-search-btn search-box-button"><i class="ob-icon icon-search"></i></button>
        </div>
    </div>
</form>

<script>
    $(function () {      
        $('#IsProduct').prop('checked', true);
        //$(".m-search-select.J-searchType").hover(function () {
        //    $(this).toggleClass("hover");  //Toggle the active class to the area is hovered
        //});

        $(".m-search-select.J-searchType").hover(
            function () {
                $(this).addClass('hover');
            },
            function () {
                $(this).removeClass("hover");
            }
        );

        

        $(".m-search-option").click(function () {
            if ($(this).attr("data-option") == "1") {
                $(".m-search-select-title span").text("Suppliers");
                $(".m-search-select select").val("1").change();
                $(this).find("a").text("Products");
                $(this).attr("data-option", "2");
                $('#IsProduct').prop('checked', false);
                $('#IsProduct').val(false);
            }

            else {
                $(".m-search-select-title span").text("Products");
                $(".m-search-select select").val("0").change();
                $(this).find("a").text("Suppliers");
                $(this).attr("data-option", "1");
                $('#IsProduct').prop('checked', true);
                $('#IsProduct').val(true);
            }

            $(".m-search-select.J-searchType").removeClass("hover")
        });
    })
</script>