﻿@model ProductDetailsModel
@using Microsoft.AspNetCore.Http.Extensions
@using Nop.Core.Domain.Seo;
@inject SeoSettings seoSettings
@{
    Layout = "_ColumnsOneProduct";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + this.Url.ActionContext.HttpContext.Request.GetEncodedUrl() + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + this.Url.ActionContext.HttpContext.Request.GetEncodedUrl() + "\" />");
    }
}
<!--product breadcrumb-->
@section Breadcrumb
    {
    @await Html.PartialAsync("_ProductBreadcrumb", Model.Breadcrumb)
}

<link href="~/Themes/MadeInBangladesh/Content/css/sr-layout-main.css" rel="stylesheet" />
<link href="~/Themes/MadeInBangladesh/Content/css/prodDetail_20a1585a.css" rel="stylesheet" />
<link href="~/Themes/MadeInBangladesh/Content/css/global_b97f1f29.css" rel="stylesheet" />
@*<link href="~/Themes/MadeInBangladesh/Content/css/0aeucb7yho22khprioh_ib9hdaxciepe02qhd_f8ney.min.css" rel="stylesheet" />*@



@*0aeucb7yho22khprioh_ib9hdaxciepe02qhd_f8ney.min.css*@

@await Component.InvokeAsync("Widget", new { widgetZone = "productdetails_after_breadcrumb", additionalData = Model.Id })

<div class="sr-container J-layout ">
    <div itemscope itemtype="https://schema.org/Product">
        <div class="sr-layout-wrap sr-layout-resp">
            <div class="detail-top-bar">
            </div>

            <div class="sr-layout-main">
                <div class="sr-layout-block">
                    <div class="sr-layout-content sr-proMainInfo">
                        <div class="sr-proMainInfo-slide J-pic-box">
                            @await Html.PartialAsync("_ProductDetailsPictures", Model)
                            @*<div class="sr-proMainInfo-slide-pic J-pic-list-wrap sr-proSlide">
                                    <div class="sr-proMainInfo-slide-container swiper-container J-pic-list-container swiper-container-horizontal swiper-container-autoheight">
                                        <div class="swiper-wrapper">
                                            <div class="sr-proMainInfo-slide-picItem swiper-slide J-play-video J-pic-item J-pic-large-item swiper-slide-active" style="width: 551px;">
                                                <div class="sr-prMainInfo-slide-inner">
                                                    <div class="sr-proMainInfo-slide-picInside">
                                                        <a href="#">
                                                            <img src="//image.made-in-china.com/212f0j00MQCawmzlZtiZ/%E4%BA%A7%E5%93%81%E4%BB%8B%E7%BB%8D1%7E1.mp4.jpg" data-original="//image.made-in-china.com/212f0j00MQCawmzlZtiZ/%E4%BA%A7%E5%93%81%E4%BB%8B%E7%BB%8D1%7E1.mp4.jpg" alt="" style="display: block;">


                                                            <span class="play-mark">
                                                                <i class="ob-icon icon-play"></i>
                                                            </span>
                                                        </a>

                                                    </div>
                                                    <script type="text/data-video">
                                                            {
                                                            "videoUrl": "https://v.youku.com/v_show/id_XMzU3MDYwOTU4OA==.html",
                                                            "vid": "4020825",
                                                            "autoplay": false
                                                            }
                                                        </script>
                                                </div>
                                                <div style="display: block; width: 551px; height: 551px; position: absolute; top: 0px; left: 0px;">
                                                    @await Html.PartialAsync("_ProductDetailsPictures", Model)
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            @*small slide boxes under the picrue*@
                            @*main container*@
                            @*<div class="sr-proMainInfo-slide-page J-pic-dots-wrap">

                                </div>*@

                        </div>

                        <div class="sr-proMainInfo-baseInfo">
                            <div class="sr-proMainInfo-baseInfo-name">
                                <h1 itemprop="name" class="sr-proMainInfo-baseInfoH1 J-baseInfo-name">
                                    @Model.Name
                                </h1>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ShortDescription))
                            {
                                <div class="short-description">
                                    @Html.Raw(Model.ShortDescription)
                                </div>
                            }
                                <div class="sr-proMainInfo-baseInfo-property">
                                    @*<a rel="nofollow" class="sr-proMainInfo-baseInfo-propertyGetPrice" id="latestPriceInquiry" href="javascript:;">
            Get Latest Price <i class="ob-icon icon-right"></i>
        </a>*@
                                    @*<div class="short-description">
            A groundbreaking Retina display. A new force-sensing trackpad. All-flash architecture. Powerful dual-core and quad-core Intel processors. Together, these features take the notebook to a new level of performance. And they will do the same for you in everything you create.
        </div>*@

                                    <input type="hidden" id="inquiry4PriceHref" name="inquiry4PriceHref" value="//www.made-in-china.com/sendInquiry/prod_pjxmJViTulhD_EqmxLjFrvMYf_0.html?from=shrom&amp;type=cs&amp;style=2&amp;page=p_detail">
                                    <span itemprop="offers" itemscope="" itemtype="https://schema.org/AggregateOffer">
                                        <meta itemprop="priceCurrency" content="USD">
                                        <meta itemprop="lowPrice" content="3200.0">
                                        <meta itemprop="highPrice" content="5800.0">
                                        <span itemprop="availability" content="https://schema.org/InStock"></span>
                                    </span>
                                    @*<div class="sr-proMainInfo-baseInfo-propertyPrice">
            <table>
                <tbody>
                    <tr>
                        <th colspan="2">
                            Min. Order
                            / Reference FOB Price
                        </th>
                    </tr>
                    <tr>
                        <td width="150">1 Piece</td>
                        <td><strong class="red">US $3,200-5,800/ Piece</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>*@

                                    <br>

                                    <!--product reviews-->
                                    @await Html.PartialAsync("_ProductReviewOverview", Model.ProductReviewOverview)

                                    @*<div class="product-reviews-overview" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
            <div class="product-review-box">
                <div class="rating">
                    <div style="width: 100%">
                    </div>
                </div>
            </div>

            <div class="product-review-links">
                <a href="/productreviews/4">
                    1
                    review(s)
                </a> <span class="separator">|</span> <a href="/productreviews/4">Add your review</a>
            </div>
            <span itemprop="ratingValue" style="display: none;">5.0</span>
            <span itemprop="reviewCount" style="display: none;">1</span>
        </div>*@

                                    @*<div class="manufacturers">
            <span class="label">Manufacturer:</span>
            <span class="value">
                @if (Model.ProductManufacturers.Count > 0)
                {
                    <a href="#">@Model.ProductManufacturers[0].Name</a>
                }
            </span>
        </div>*@

                                    <!--manufacturers-->
                                    @await Html.PartialAsync("_ProductManufacturers", Model.ProductManufacturers)
                                    <br />

                                    @*<div class="availability">
            <div class="stock">
                <span class="label">Availability:</span>
                <span class="value" id="stock-availability-value-4">In stock</span>
            </div>
        </div>*@
                                    <!--availability-->
                                    @await Html.PartialAsync("_Availability", Model)
                                    <br />
                                    <!--SKU, MAN, GTIN, vendor-->
                                    @await Html.PartialAsync("_SKU_Man_GTIN_Ven", Model)
                                    <br />
                                    @*<div class="sr-proMainInfo-baseInfo-propertyAttr">
            <table>
                <tbody>
                    <tr>
                        <th width="160" class="th-label">Port:</th>
                        <td>
                            Shanghai, China
                            <span class="address-wrap">
                                <i class="ob-icon icon-coordinate"></i>
                                <div class="tip arrow-left address-map">
                                    <div class="tip-con">
                                        <div class="detail-address-map showLocation">
                                            <div class="showLocation-content" style="display:block;">
                                                <div class="showLocation-map"></div>
                                                <div class="showLocation-arrow showLocation-arrow-top"></div>
                                                <div class="showLocation-mark showLocation-Shanghai"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="arrow arrow-out">
                                        <span class="arrow arrow-in"></span>
                                    </span>
                                </div>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th width="160" class="th-label">Production Capacity:</th>
                        <td>
                            300 Units/Month
                        </td>
                    </tr>
                    <tr>
                        <th width="160" class="th-label">Payment Terms:</th>
                        <td>
                            L/C, T/T, Western Union, Paypal
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="attr-line"></div>
            <table>
                <tbody>
                    <tr>
                        <th width="160" class="th-label">Usage:</th>
                        <td>Irrigation</td>
                    </tr>
                    <tr>
                        <th width="160" class="th-label">Type:</th>
                        <td>Irrigation System</td>
                    </tr>
                    <tr>
                        <th width="160" class="th-label">Power Source:</th>
                        <td>Hydraulic</td>
                    </tr>
                    <tr>
                        <th width="160" class="th-label">Drainage &amp; Irrigation Mode:</th>
                        <td>Sprinkler Irrigation Equipment</td>
                    </tr>
                    <tr>
                        <th width="160" class="th-label">Pump Type:</th>
                        <td>Turbine Pump</td>
                    </tr>
                    <tr>
                        <th width="160" class="th-label">Material:</th>
                        <td>Metal</td>
                    </tr>
                </tbody>
            </table>
        </div>*@
                                </div>

                            @*<div class="sr-proMainInfo-baseInfo-act">
                                    <div class="sr-proMainInfo-baseInfo-actBtns">
                                        <a class="btn btn-big btn-main half" target="_blank" href="https://www.made-in-china.com/sendInquiry/prod_pjxmJViTulhD_EqmxLjFrvMYf.html?from=shrom&amp;type=cs&amp;style=2&amp;page=p_detail" rel="nofollow"><i class="ob-icon icon-mail"></i>Contact Now</a>
                                        <a class="btn btn-big half" rel="nofollow" href="http://purchase.made-in-china.com/send-customized-request/prod/pjxmJViTulhD.html" target="_blank">Customized Request</a>
                                    </div>
                                    <div class="sr-proMainInfo-baseInfo-actActs">
                                        <span class="act-item">
                                            <b class="tm3_chat_status" dataid="EqmxLjFrvMYf_pjxmJViTulhD_1" inquiry="https://www.made-in-china.com/sendInquiry/prod_pjxmJViTulhD_EqmxLjFrvMYf.html?from=shrom&amp;type=cs&amp;style=2&amp;page=p_detail" processor="chat" cid="EqmxLjFrvMYf" style="display:none"></b><a rel="nofollow" class="tm-status-on" href="javascript:void('Chat Now')" title="Chat with supplier online now!">Chat with Supplier.</a>
                                        </span>
                                        <span class="act-item">
                                            <span class="J-added-to-basket already-in-basket pjxmJViTulhD" style="display:none">
                                                <a href="javascript:;" onclick="showMiniInquiry('product');">
                                                    <i class="micon"></i>Inquiry Basket
                                                </a>
                                            </span>
                                            <span class="J-add-to-basket pjxmJViTulhD" style="">
                                                <a href="javascript:add2BasketProd('pjxmJViTulhD', '//image.made-in-china.com/3f2j00iGOUzjQhqTkI/Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.jpg')" rel="nofollow" title="Add to inquiry basket to compare.">
                                                    <i class="ob-icon icon-cart-add"></i>Inquiry Basket
                                                </a>
                                            </span>
                                        </span>
                                        <span class="act-item">
                                            <a rel="nofollow" href="javascript:void(0);" class="J-added-to-product-fav link-with-icon J-add2Fav J-added already-fav" cz-username="jinpen" cz-sourceid="pjxmJViTulhD" cz-sourcetype="prod" style="display:none"><i class="J-fav-icon ob-icon icon-star-f"></i>Favorites</a>
                                            <a rel="nofollow" href="javascript:void(0);" class="J-add-to-product-fav link-with-icon J-add2Fav" cz-username="jinpen" cz-sourceid="pjxmJViTulhD" cz-sourcetype="prod" style=""><i class="J-fav-icon ob-icon icon-star"></i>Favorites</a>
                                        </span>
                                        <span class="act-item share-wrap J-share">
                                            <a href="javascript:">
                                                <i class="ob-icon icon-share1"></i>Share
                                            </a>
                                            <div class="share-cnt cf">
                                                <div class="sns-share"><span class="title"></span><a href="https://www.facebook.com/sharer/sharer.php?app_id=418856551555971&amp;u=https%3A%2F%2Fjinpen.en.made-in-china.com%2Fproduct%2FpjxmJViTulhD%2FChina-Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.html" rel="nofollow" class="facebook" title="Facebook"></a><a href="https://twitter.com/share?text=https%3A%2F%2Fjinpen.en.made-in-china.com%2Fproduct%2FpjxmJViTulhD%2FChina-Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.html+Hose Reel Irrigation System with End Gun, Truss and Agricultural Sprinklers on Made-in-China.com+%28via+%40madeinchina_b2b%29&amp;url=" rel="nofollow" class="twitter" title="Twitter"></a><a href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fjinpen.en.made-in-china.com%2Fproduct%2FpjxmJViTulhD%2FChina-Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.html&amp;media=%2F%2Fimage.made-in-china.com%2F43f34j00iGOUzjQhqTkI%2FHose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.jpg&amp;description=Hose Reel Irrigation System with End Gun, Truss and Agricultural Sprinklers on Made-in-China.com" rel="nofollow" class="pinterest" title="Pinterest"></a><a href="https://www.linkedin.com/cws/share?url=https%3A%2F%2Fjinpen.en.made-in-china.com%2Fproduct%2FpjxmJViTulhD%2FChina-Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.html&amp;token=&amp;isFramed=true&amp;lang=en_US" rel="nofollow" class="linkedin" title="Linkedin"></a><a href="https://plus.google.com/share?hl=en_US&amp;url=https%3A%2F%2Fjinpen.en.made-in-china.com%2Fproduct%2FpjxmJViTulhD%2FChina-Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.html" rel="nofollow" class="googleplus" title="Google+"></a></div>
                                                <div class="mail link-blue fr">
                                                    <iframe src="about:blank" frameborder="0" id="I-email-this-page" name="I-email-this-page" width="0" height="0" style="width:0;height:0;"></iframe>
                                                    <a href="https://jinpen.en.made-in-china.com/share/pjxmJViTulhD/China-Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.html" rel="nofollow" title="Email" target="I-email-this-page"><i class="micon" title="Email this page"></i></a>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="sr-proMainInfo-baseInfo-actDload J-download-catalog-label" style="">
                                        <div class="link-wrap">
                                            <a rel="nofollow" class="link J-cat-link J-download-catalog" href="javascript:void(0)" target="download-catalog" cz-url="/Product-Catalogs/JmQnlgOVjxkR/Download-Url">
                                                <i class="ob-icon icon-pdf"></i>Download Product Catalog <i class="ob-icon icon-info"></i>
                                            </a>
                                            <div class="tip arrow-top">
                                                <div class="tip-con J-cat-cnt"><dl>    <dt>        irrigation2    </dt>    <dd>       6 Products    </dd></dl>    <dl>        <dt>            Content        </dt>                    <dd>Product Image</dd>                   <dd>Product Name</dd>                   <dd>FOB Price</dd>                   <dd>Port</dd>           </dl></div>
                                                <span class="arrow arrow-out">
                                                    <span class="arrow arrow-in"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            @*<div class="additional-details">
                                <div class="sku">
                                    <span class="label">SKU:</span>
                                    @if (!string.IsNullOrWhiteSpace(Model.Sku))
                                    {
                                        <span class="value" itemprop="sku" id="sku-4">@Model.Sku</span>
                                    }
                                </div>
                            </div>*@
                            

                            <div class="prices" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <div class="product-price">
                                    <span itemprop="price" content="1800.00" class="price-value-4">
                                        @Model.ProductPrice.Price
                                    </span>
                                </div>
                                <meta itemprop="priceCurrency" content="USD">
                            </div>

                            <br />

                            @if (@Model.SupplierInfo != null)
                            {
                                <div class="supplier">
                                    <div class="product-supplier">
                                        <span>
                                            Supplier: <a href="@Url.RouteUrl("SupplierDetails", new { supplierId = Model.SupplierId})">@Model.SupplierInfo.Company</a>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <div class="contact-supplier">
                                    <a class="btn btn-big btn-main half" target="_blank" href="@Url.RouteUrl("ContactSupplier", new { productId = Model.Id })"><i class="ob-icon icon-mail"></i>Contact Now</a>
                                </div>
                            }


                            @*<div class="add-to-cart">
                                    <div class="min-qty-notification">This product has a minimum quantity of 2</div>
                                    <div class="add-to-cart-panel">
                                        <label class="qty-label" for="addtocart_4_EnteredQuantity">Qty:</label>
                                        <input class="qty-input" type="text" data-val="true" data-val-required="The Qty field is required." id="addtocart_4_EnteredQuantity" name="addtocart_4.EnteredQuantity" value="2">

                                        <input type="button" id="add-to-cart-button-4" class="button-1 add-to-cart-button" value="Add to cart" data-productid="4" onclick="AjaxCart.addproducttocart_details('/addproducttocart/details/4/1', '#product-details-form');return false;">
                                    </div>

                                </div>*@

                            <br />

                            @*<div class="overview-buttons">

                                    <div class="add-to-wishlist">
                                        <input type="button" id="add-to-wishlist-button-4" class="button-2 add-to-wishlist-button" value="Add to wishlist" data-productid="4" onclick="AjaxCart.addproducttocart_details('/addproducttocart/details/4/2', '#product-details-form');return false;">
                                    </div>
                                    <div class="compare-products">
                                        <input type="button" value="Add to compare list" class="button-2 add-to-compare-list-button" onclick="AjaxCart.addproducttocomparelist('/compareproducts/add/4');return false;">
                                    </div>

                                    <div class="email-a-friend">
                                        <input type="button" value="Email a friend" class="button-2 email-a-friend-button" onclick="setLocation('/productemailafriend/4')">
                                    </div>


                                </div>*@

                        </div>

                    </div>
                </div>
                <div class="sr-layout-block maylike-clone J-yml-place">
                    <div class="sr-side-maylike-block">
                        <div class="sr-txt-title sr-txt-rightSpace">
                            <h2 class="sr-txt-h2">You Might Also Like</h2> <i class="ob-icon icon-rotate-r J-data-refresh-times J-yml-refresh" style="" cz-times="0"></i>
                        </div>
                        <div class="sr-side-maylike-wrap cf J-yml-list-wrap">

                            <div class="sr-layout-content sr-side-maylike-cnt cf J-yml-list"><div class="sr-side-maylike-item">	<div class="sr-side-maylike-pic">		<a href="https://jinpen.en.made-in-china.com/product/GNmEJywubIhC/China-Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.html" title="Hose Reel Irrigation System with End Gun, Truss and Agricultural Sprinklers" class="J-data-stat" cz-id="840908185" cz-type="0" cz-from="2" cz-times="0" cz-random="0">			<img src="//image.made-in-china.com/3f2j00bUEGjoStOQqZ/Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.jpg" alt="Hose Reel Irrigation System with End Gun, Truss and Agricultural Sprinklers">		</a>	</div>	<div class="sr-side-maylike-txt">		<div class="sr-side-maylike-name">			<a href="https://jinpen.en.made-in-china.com/product/GNmEJywubIhC/China-Hose-Reel-Irrigation-System-with-End-Gun-Truss-and-Agricultural-Sprinklers.html" title="Hose Reel Irrigation System with End Gun, Truss and Agricultural Sprinklers" class="J-data-stat" cz-id="840908185" cz-type="0" cz-from="2" cz-times="0" cz-random="0">				Hose Reel Irrigation System with End Gun, Truss and Agricultural Sprinklers			</a>		</div>		<div class="sr-side-maylike-price" title="US $3,000-8,000 / Piece">			<span class="sr-side-maylike-num">US $3,000-8,000</span>			<span class="sr-side-maylike-unit"> / Piece</span>		</div>	</div></div><div class="sr-side-maylike-item">	<div class="sr-side-maylike-pic">		<a href="https://jinpen.en.made-in-china.com/product/aCJmONPMCHWI/China-Newly-Retractable-Spray-Water-Mobile-Farm-Hose-Reel-Irrigation-System.html" title="Newly Retractable Spray Water Mobile Farm Hose Reel Irrigation System" class="J-data-stat" cz-id="840394185" cz-type="0" cz-from="2" cz-times="0" cz-random="0">			<img src="//image.made-in-china.com/3f2j00VasYjgnEEmkS/Newly-Retractable-Spray-Water-Mobile-Farm-Hose-Reel-Irrigation-System.jpg" alt="Newly Retractable Spray Water Mobile Farm Hose Reel Irrigation System">		</a>	</div>	<div class="sr-side-maylike-txt">		<div class="sr-side-maylike-name">			<a href="https://jinpen.en.made-in-china.com/product/aCJmONPMCHWI/China-Newly-Retractable-Spray-Water-Mobile-Farm-Hose-Reel-Irrigation-System.html" title="Newly Retractable Spray Water Mobile Farm Hose Reel Irrigation System" class="J-data-stat" cz-id="840394185" cz-type="0" cz-from="2" cz-times="0" cz-random="0">				Newly Retractable Spray Water Mobile Farm Hose Reel Irrigation System			</a>		</div>		<div class="sr-side-maylike-price" title="US $3,200-5,800 / Piece">			<span class="sr-side-maylike-num">US $3,200-5,800</span>			<span class="sr-side-maylike-unit"> / Piece</span>		</div>	</div></div><div class="sr-side-maylike-item">	<div class="sr-side-maylike-pic">		<a href="https://jinpen.en.made-in-china.com/product/tsEmVZODrikw/China-Retractable-Jp-60-Spray-Water-Mobile-Hose-Reel-Irrigation-System-with-Spray-for-Agriculture.html" title="Retractable Jp 60 Spray Water Mobile Hose Reel Irrigation System with Spray for Agriculture" class="J-data-stat" cz-id="840959195" cz-type="0" cz-from="2" cz-times="0" cz-random="0">			<img src="//image.made-in-china.com/3f2j00YfURvGQgzakh/Retractable-Jp-60-Spray-Water-Mobile-Hose-Reel-Irrigation-System-with-Spray-for-Agriculture.jpg" alt="Retractable Jp 60 Spray Water Mobile Hose Reel Irrigation System with Spray for Agriculture">		</a>	</div>	<div class="sr-side-maylike-txt">		<div class="sr-side-maylike-name">			<a href="https://jinpen.en.made-in-china.com/product/tsEmVZODrikw/China-Retractable-Jp-60-Spray-Water-Mobile-Hose-Reel-Irrigation-System-with-Spray-for-Agriculture.html" title="Retractable Jp 60 Spray Water Mobile Hose Reel Irrigation System with Spray for Agriculture" class="J-data-stat" cz-id="840959195" cz-type="0" cz-from="2" cz-times="0" cz-random="0">				Retractable Jp 60 Spray Water Mobile Hose Reel Irrigation System with Spray for Agriculture			</a>		</div>		<div class="sr-side-maylike-price" title="US $3,200-5,800 / Piece">			<span class="sr-side-maylike-num">US $3,200-5,800</span>			<span class="sr-side-maylike-unit"> / Piece</span>		</div>	</div></div><div class="sr-side-maylike-item">	<div class="sr-side-maylike-pic">		<a href="https://jinpen.en.made-in-china.com/product/wNEJsCglMicF/China-Hot-Seller-Hose-Reel-Irrigation-System-for-Agriculture-with-Gun.html" title="Hot Seller Hose Reel Irrigation System for Agriculture with Gun" class="J-data-stat" cz-id="840389985" cz-type="0" cz-from="2" cz-times="0" cz-random="0">			<img src="//image.made-in-china.com/3f2j00gaSflvOPlAcm/Hot-Seller-Hose-Reel-Irrigation-System-for-Agriculture-with-Gun.jpg" alt="Hot Seller Hose Reel Irrigation System for Agriculture with Gun">		</a>	</div>	<div class="sr-side-maylike-txt">		<div class="sr-side-maylike-name">			<a href="https://jinpen.en.made-in-china.com/product/wNEJsCglMicF/China-Hot-Seller-Hose-Reel-Irrigation-System-for-Agriculture-with-Gun.html" title="Hot Seller Hose Reel Irrigation System for Agriculture with Gun" class="J-data-stat" cz-id="840389985" cz-type="0" cz-from="2" cz-times="0" cz-random="0">				Hot Seller Hose Reel Irrigation System for Agriculture with Gun			</a>		</div>		<div class="sr-side-maylike-price" title="US $3,200-5,800 / Piece">			<span class="sr-side-maylike-num">US $3,200-5,800</span>			<span class="sr-side-maylike-unit"> / Piece</span>		</div>	</div></div><div class="sr-side-maylike-item">	<div class="sr-side-maylike-pic">		<a href="https://jinpen.en.made-in-china.com/product/qjTQKzyWnIcP/China-Hot-Sale-Hose-Reel-Irrigation-System-for-Agriculture-with-Gun.html" title="Hot Sale Hose Reel Irrigation System for Agriculture with Gun" class="J-data-stat" cz-id="841873635" cz-type="0" cz-from="2" cz-times="0" cz-random="0">			<img src="//image.made-in-china.com/3f2j00vGMUbSurOEqD/Hot-Sale-Hose-Reel-Irrigation-System-for-Agriculture-with-Gun.jpg" alt="Hot Sale Hose Reel Irrigation System for Agriculture with Gun">		</a>	</div>	<div class="sr-side-maylike-txt">		<div class="sr-side-maylike-name">			<a href="https://jinpen.en.made-in-china.com/product/qjTQKzyWnIcP/China-Hot-Sale-Hose-Reel-Irrigation-System-for-Agriculture-with-Gun.html" title="Hot Sale Hose Reel Irrigation System for Agriculture with Gun" class="J-data-stat" cz-id="841873635" cz-type="0" cz-from="2" cz-times="0" cz-random="0">				Hot Sale Hose Reel Irrigation System for Agriculture with Gun			</a>		</div>		<div class="sr-side-maylike-price" title="US $3,000-8,000 / Piece">			<span class="sr-side-maylike-num">US $3,000-8,000</span>			<span class="sr-side-maylike-unit"> / Piece</span>		</div>	</div></div></div>
                        </div>
                    </div>
                </div>
                <div class="sr-layout-block" itemprop="description">
                    <div class="sr-layout-subblock">
                        <div class="sr-txt-title">
                            <h2 class="sr-txt-h2">Basic Info</h2>
                        </div>
                        <div class="short-description">
                            A groundbreaking Retina display. A new force-sensing trackpad. All-flash architecture. Powerful dual-core and quad-core Intel processors. Together, these features take the notebook to a new level of performance. And they will do the same for you in everything you create.
                        </div>
                    </div>
                    <div class="sr-layout-subblock">
                        <div class="sr-txt-title">
                            <h2 class="sr-txt-h2">Product Description</h2>
                        </div>
                        <div class="sr-layout-content">
                            <div class="rich-text cf">
                                <div class="full-description" itemprop="description">
                                    <p>With fifth-generation Intel Core processors, the latest graphics, and faster flash storage, the incredibly advanced MacBook Pro with Retina display moves even further ahead in performance and battery life.* *Compared with the previous generation.</p><p>Retina display with 2560-by-1600 resolution</p><p>Fifth-generation dual-core Intel Core i5 processor</p><p>Intel Iris Graphics</p><p>Up to 9 hours of battery life1</p><p>Faster flash storage2</p><p>802.11ac Wi-Fi</p><p>Two Thunderbolt 2 ports for connecting high-performance devices and transferring data at lightning speed</p><p>Two USB 3 ports (compatible with USB 2 devices) and HDMI</p><p>FaceTime HD camera</p><p>Pages, Numbers, Keynote, iPhoto, iMovie, GarageBand included</p><p>OS X, the world's most advanced desktop operating system</p>
                                </div>
                                <div>
                                    <span style="font-size:18px;"><strong>Specification</strong></span>
                                    <div class="table-wrapper">
                                        <table class="data-table">
                                            <colgroup>
                                                <col width="25%">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                                <tr class="odd">
                                                    <td class="spec-name"> Screensize</td>
                                                    <td class="spec-value">13.0''</td>
                                                </tr>
                                                <tr class="even">
                                                    <td class="spec-name">CPU Type </td>
                                                    <td class="spec-value">Intel Core i5</td>
                                                </tr>
                                                <tr class="odd">
                                                    <td class="spec-name">  Memory</td>
                                                    <td class="spec-value">4 GB</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sr-layout-extra detail-extra">
                <div class="sr-layout-block J-yml-place">
                    <div class="sr-side-maylike-block">
                        <div class="sr-txt-title sr-txt-rightSpace">
                            <h2 class="sr-txt-h2">You may like</h2> <i class="ob-icon icon-rotate-r J-data-refresh-times J-yml-refresh" style="" cz-times="0"></i>
                        </div>
                        <div class="sr-side-maylike-wrap cf J-yml-list-wrap">
                            <div class="sr-layout-content sr-side-maylike-cnt cf J-yml-list">                              
                                @await Component.InvokeAsync("RelatedProducts", new { productId = Model.Id })
                            </div>
                        </div>         
                    </div>
                </div>           
            </div>

        </div>
    </div>
</div>
