﻿@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="main-wrap page home-page" id="J-main-wrap">
    <div class="home-banner banner-1440">
        <div class="banner-total slide-home J-slider-home">

            <div class="home-banner-left">
                <div class="home-guide J-home-guide">
                    <div class="row">

                        <div class="cate-col">
                            <div class="inr cate-in-pc J-cate-in-pc">
                                <a href="//www.made-in-china.com/prod/catlist/">
                                    <h3 class="cate-title medium-size-bold">Categories</h3>
                                </a>
                                @await Component.InvokeAsync("TopMenu")
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="home-banner-slider">
                @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_top" })
            </div>
            <div class="home-banner-right">

                <div class="home-guide J-home-guide">
                    <div class="row">

                        <div class="">

                            @await Component.InvokeAsync("HomepageNewProducts")
                            @*<div class="inr you-may-like">
                                <div class="cf yml-header">
                                    <h2 class="medium-size-bold">You May Like</h2>
                                </div>
                                <ul class="yml-content">
                                    <li class="cf item">
                                        <a rel="nofollow" href="//www.made-in-china.com/multi-search/processing+machinery/F1/1.html" ads-data="t:73,sw:processing machinery,hrty:2" target="_blank">
                                            <div class="yml-img-wrap fl">
                                                <img class="item-img" src="https://image.made-in-china.com/3f2j00zTvGnIgtIQbM/Automatic-CNC-3-Axis-Glass-Edge-Processing-Machine.jpg" alt="Processing Machinery">
                                            </div>
                                            <span class="item-name link-hover" title="Processing Machinery">Processing Machinery</span>
                                            <span class="item-num" title="439,000+ Products">439,000+ Products</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>        
    </div>
    <div class="container">

        @*@await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_categories" })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_products" })
        @await Component.InvokeAsync("HomepageProducts")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_best_sellers" })
        @await Component.InvokeAsync("HomepageBestSellers")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_news" })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_poll" })
        @await Component.InvokeAsync("HomepagePolls")
        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_bottom" })*@



        <div class="select-trending J-select-trending" style="padding:20px 0 30px 0">
            <div class="row">
                <div class="col">
                    <div class="inr products-inr">
                        @await Component.InvokeAsync("HomepageProducts")
                    </div>
                </div>
            </div>
        </div>

        @await Component.InvokeAsync("RecentlyViewedProductsBlock", new { productThumbPictureSize = 64 })
    </div>
</div>


<script>
    $(function () {
        $(".cate-items .cate-item").mouseenter(function () {
            $(this).addClass("hover");
        }).mouseleave(function () {
            $(this).removeClass("hover");
        })

    })
</script>