﻿@model SupplierInboxModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}


<div class="master-wrapper-content contact_supplier">
    <div class="master-column-wrapper">
        <div class="center-1">
            <div class="page">
                <div class=" page-body">
                    @if (Model.IsAuthenticated)
                    {
                        <form asp-route="ContactSupplier" method="post">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <input asp-for="ProductId" type="hidden" />
                            <input asp-for="SupplierId" type="hidden" />
                            <div class="fieldset">
                                <div class="title">
                                    <strong>Contact Supplier</strong>
                                </div>
                                <div style="text-align:center;">
                                    @ViewBag.Result
                                </div>
                                <div class="form-fields">
                                    <div class="inputs">
                                        <label>Company :</label>
                                        <span>@Model.Company</span>
                                    </div>
                                    <div class="inputs">
                                        <label>Product :</label>
                                        <span><a href="@Url.RouteUrl("Product", new {SeName = Model.ProductSeName})">@Model.Product.Name</a></span>
                                    </div>
                                    <div class="inputs">
                                        <label asp-for="ProductQuantity" class="product_quantity"></label>
                                        <input asp-for="ProductQuantity" />
                                        <nop-required />
                                        <span asp-validation-for="ProductQuantity"></span>

                                        <label asp-for="SelectedProductQuantityUnit" class="SelectedProductQuantityUnit"></label>
                                        <nop-select asp-for="SelectedProductQuantityUnit" asp-items="Model.AvailableProductQuantityUnits" />
                                        <span asp-validation-for="SelectedProductQuantityUnit"></span>
                                    </div>
                                    <div class="inputs">
                                        <label asp-for="Message" class="custom_massage"></label>
                                        <textarea asp-for="Message"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="buttons" style="text-align: center;">
                                <button class="btn btn-main btn-large" type="submit">Send</button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div style="text-align:center;">
                            <h3>You are not authenticated to contact the supplier.</h3>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>