﻿@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<div class="page-title">
    <h1>Contact Confirmation</h1>
</div>
<div class="page-body">
    <div class="result">
        @ViewBag.Result
    </div>
    <div class="buttons">
        <a href="@Url.RouteUrl("HomePage")" class="btn btn-main btn-large">Continue</a>
    </div>
</div>