﻿@model Nop.Web.Models.Buyer.MessageDetailsModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<div class="page buyer-message-box-page">
    <div class="page-title">
        <h1>Buyer - Message Details</h1>
    </div>
    <div class="page-body">
        <form asp-route="ContactSupplier" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <input asp-for="ProductId" type="hidden" />
            <input asp-for="SupplierId" type="hidden" />
            <div class="fieldset">
                @*<div class="title">
                    <strong>Contact Supplier</strong>
                </div>*@
                <div style="text-align:center;">
                    @ViewBag.Result
                </div>
                <div class="form-fields">
                    <div class="inputs">
                        <label>Company:</label>
                        <span>@Model.Company</span>
                    </div>
                    <div class="inputs">
                        <label>Product:</label>
                        <span><a href="@Url.RouteUrl("Product", new {SeName = Model.ProductSeName})">@Model.Product.Name</a></span>
                    </div>
                    <div class="inputs">
                        <label>Quantity:</label>
                        <span>@Model.ProductQuantity</span>
                    </div>
                    <div class="inputs">
                        <label>Quantity Unit:</label>
                        <span>@Model.SelectedQuantityUnit</span>
                    </div>
                    <div class="inputs">
                        <label>Your Message:</label>
                        <textarea asp-for="Message" asp-disabled="true"></textarea>
                    </div>
                    <div class="inputs">
                        <label>Reply:</label>
                        <textarea asp-for="Reply" asp-disabled="true"></textarea>
                    </div>
                    <div class="inputs">
                        <label>Created on:</label>
                        <span>@Model.CreatedOn.ToString("dd MMMM yyyy HH:mm tt")</span>
                    </div>
                    <div class="inputs">
                        <label>Updated on:</label>
                        <span>@Model.UpdatedOn.ToString("dd MMMM yyyy HH:mm tt")</span>
                    </div>
                </div>
            </div>

            <div class="buttons" style="text-align: center;">
                <a href="@Url.RouteUrl("MessageList")" class="btn btn-default">Back to Message List</a>
                @*<button class="btn btn-main btn-large" type="submit">Send</button>*@
            </div>
        </form>
    </div>
</div>

