﻿@model Nop.Web.Models.Buyer.MessageListModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<div class="page message-list-page">
    <div class="page-title">
        <h1>Message List</h1>
    </div>
    <div class="page-body">
        @if (Model.MessageList.Count > 0)
        {
            <div class="message-list">
                <div class="table-wrapper">
                    <table class="data-table">
                        <colgroup>
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="start-date">
                                    Company
                                </th>
                                <th class="cycle-info">
                                    Product
                                </th>
                                <th class="next-payment">
                                    Quantity
                                </th>
                                <th class="total-cycles">
                                    Quantity Unit
                                </th>
                                <th class="cycles-remaining">
                                    Created on
                                </th>
                                <th class="initial-order">
                                    Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MessageList)
                            {
                                <tr>
                                    <td class="start-date">
                                        @*<a href="@Url.RouteUrl("SupplierDetails", new { supplierId = item.SupplierId})">@item.Company</a>*@
                                        @item.Company
                                    </td>
                                    <td class="cycle-info">
                                        <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})">@item.Product.Name</a>
                                    </td>
                                    <td class="next-payment">
                                        @item.ProductQuantity
                                    </td>
                                    <td class="total-cycles">
                                        @item.SelectedQuantityUnit
                                    </td>
                                    <td class="cycles-remaining">
                                        @item.CreatedOn.ToString("dd MMMM yyyy HH:mm tt")
                                    </td>
                                    <td class="initial-order">
                                        <a href="@Url.RouteUrl("MessageDetails", new { messageId = item.Id })">View Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            @*<div class="buyer-message-list">
                    @foreach (var message in Model.Messages)
                    {
                        <div class="section message-item">
                            <div class="title">
                                <strong>@T("Account.CustomerOrders.OrderNumber"): @message.Company</strong>
                            </div>
                            <ul class="info">
                                <li>@T("Account.CustomerOrders.OrderStatus"): <span class="order-status @message.Product.Name"></span></li>
                                <li>@T("Account.CustomerOrders.OrderDate"): <span class="order-date">@message.ProductQuantity.ToString()</span></li>
                                <li>@T("Account.CustomerOrders.OrderTotal"): <span class="order-total">@message.SelectedQuantityUnit</span></li>
                                <li>@T("Account.CustomerOrders.OrderTotal"): <span class="order-total">@message.Message</span></li>
                            </ul>
                            <div class="buttons">
                                <input type="button" value="@T("Account.CustomerOrders.OrderDetails")" class="button-2 order-details-button" onclick="setLocation('@Url.RouteUrl("OrderDetails", new { orderId = order.Id })')" />
                            </div>
                        </div>
                    }
                </div>*@
        }
        else
        {
            <div class="no-data" style="padding:20px 0;">
                Message box is empty
            </div>
        }
    </div>
</div>

