﻿@model SupplierContactUsModel
@using Microsoft.AspNetCore.Http.Extensions
@using Nop.Core.Domain.Seo;
@inject SeoSettings seoSettings
@{
    Layout = "_ColumnsOneProduct";
}

<link href="~/Themes/MadeInBangladesh/Content/css/sr-layout-main.css" rel="stylesheet" />
<link href="~/Themes/MadeInBangladesh/Content/css/prodDetail_20a1585a.css" rel="stylesheet" />
<link href="~/Themes/MadeInBangladesh/Content/css/global_b97f1f29.css" rel="stylesheet" />

<div class="sr-container J-layout ">
    <div class="sr-layout-wrap">
        
        <div class="sr-layout-block contact-block">
            <div class="sr-txt-title">
                <span class="sr-txt-h2">Contact Details</span>
                
            </div>
            <div class="contact-info">
                @Html.Raw(Model.ContactUs)
            </div>
            
        </div>
        
    </div>
</div>