﻿@model SupplierDetailsModel
@using Microsoft.AspNetCore.Http.Extensions
@using Nop.Core.Domain.Seo;
@inject SeoSettings seoSettings
@{
    Layout = "_ColumnsOneProduct";
}

<link href="~/Themes/MadeInBangladesh/Content/css/sr-layout-main.css" rel="stylesheet" />
<link href="~/Themes/MadeInBangladesh/Content/css/prodDetail_20a1585a.css" rel="stylesheet" />
<link href="~/Themes/MadeInBangladesh/Content/css/global_b97f1f29.css" rel="stylesheet" />

<div class="sr-container J-layout skin-01 ">
    <div class="sr-layout-wrap sr-layout-resp">
        <div class="sr-layout-main home-layout-main">
            <div class="sr-layout-block">
                <div class="sr-txt-title">
                    <h2 class="sr-txt-h2"></h2>
                </div>
                <div class="sr-layout-content">
                    <div class="sr-layout-row">
                        @if (Model.Products.Count > 0)
                        {
                            foreach (var item in Model.Products)
                            {
                                <div class="sr-layout-col-5 sr-proList">
                                    <div class="sr-proList-pic-wrap">
                                        <div class="sr-proList-pic ">
                                            <div class="prod-image ">
                                                <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                                                    <img src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" alt="@item.DefaultPictureModel.AlternateText" style="display: block;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sr-proList-txt">
                                        <div class="sr-proList-name">
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                                                @item.Name
                                            </a>
                                        </div>
                                        <div class="sr-proList-price" title="FOB Price: US $863-869 / Piece">
                                            <span class="sr-proList-unit">Price: </span>
                                            <span class="sr-proList-num">@item.ProductPrice.Price </span>
                                            <span class="">/ Piece</span>
                                        </div>
                                        <div class="sr-proList-price" title="Min. Order: 1 Piece">
                                            <span class="sr-proList-unit">Min. Order: </span>
                                            1 Piece
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                </div>
            </div> <div class="sr-layout-block">
                <div class="sr-txt-title">
                    <h2 class="sr-txt-h2">Hot Products</h2>
                </div>

            </div>
        </div>
        <div class="sr-layout-nav home-nav">
            <div class="sr-layout-block">
                <div class="sr-layout-subblock sr-side-proGroup">
                    <div class="sr-txt-title">
                        <h2 class="sr-txt-h2">Product Groups</h2>
                    </div>
                    @if (Model.Categories.Count > 0)
                    {
                        <ul class="sr-side-proGroup-list">
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("Category", new { SeName = @category.SeName })" title="@category.Name">@category.Name</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
            <div class="sr-layout-block contact-block J-contact-fix" style="top: 40px; right: auto; bottom: auto; left: auto; position: static; width: auto;">
                <div class="sr-txt-title">
                    <h2 class="sr-txt-h2">Contact Supplier</h2>
                </div>
                <div class="sr-layout-content contact-supplier">
                    <div class="sr-side-contSupplier-info">
                        <div class="sr-side-contSupplier-pic">
                            <a href="javascript:void(0);">
                                <img class="J-contact-img" src="//pic.made-in-china.com/96f72j00cQaTSmgGvEkZ/made-in-china.jpg" alt="Avatar">
                            </a>
                        </div>
                        <div class="sr-side-contSupplier-txt">
                            <div class="sr-side-contSupplier-name">Ms. Angela Wan</div>
                            <div class="sr-side-contSupplier-position">
                                Manager
                            </div>
                            <div class="sr-side-contSupplier-chat">
                                <b class="tm3_chat_status" dataid="CqbEToKjAhrY_CqbEToKjAhrY_3" inquiry="https://www.made-in-china.com/sendInquiry/shrom_CqbEToKjAhrY_CqbEToKjAhrY.html?from=shrom&amp;type=cs&amp;style=2&amp;page=home" processor="chat" cid="CqbEToKjAhrY" style="display:none"></b><a rel="nofollow" class="tm-status-on" href="javascript:void('Chat Now')" title="Chat with supplier online now!">Chat with Supplier.</a>
                            </div>
                        </div>
                    </div>
                    <div class="sr-side-contSupplier-btn">
                        <a target="_blank" class="btn btn-main" href="https://www.made-in-china.com/sendInquiry/shrom_CqbEToKjAhrY_CqbEToKjAhrY.html?from=shrom&amp;type=cs&amp;style=2&amp;page=home" rel="nofollow">
                            <i class="ob-icon icon-mail"></i>Contact Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>