﻿@model SupplierAboutUsModel
@using Microsoft.AspNetCore.Http.Extensions
@using Nop.Core.Domain.Seo;
@inject SeoSettings seoSettings
@{
    Layout = "_ColumnsOneProduct";
}

<link href="~/Themes/MadeInBangladesh/Content/css/sr-layout-main.css" rel="stylesheet" />
<link href="~/Themes/MadeInBangladesh/Content/css/prodDetail_20a1585a.css" rel="stylesheet" />
<link href="~/Themes/MadeInBangladesh/Content/css/global_b97f1f29.css" rel="stylesheet" />

<div class="sr-container J-layout ">
    <div class="sr-layout-wrap sr-layout-resp">



        <div class="sr-layout-nav home-nav">
            
            <div class="sr-layout-block contact-block J-contact-fix" style="top: 40px; right: auto; bottom: auto; left: auto; position: static; width: auto;">
                <div class="sr-txt-title">
                    <h2 class="sr-txt-h2">Contact Supplier</h2>
                </div>
                <div class="sr-layout-content contact-supplier">
                    <div class="sr-side-contSupplier-info">
                        <div class="sr-side-contSupplier-pic">
                            <a href="javascript:void(0);">
                                <img class="J-contact-img" src="//pic.made-in-china.com/96f72j00cQaTSmgGvEkZ/made-in-china.jpg" alt="Avatar">
                            </a>
                        </div>
                        <div class="sr-side-contSupplier-txt">
                            <div class="sr-side-contSupplier-name">Ms. Angela Wan</div>
                            <div class="sr-side-contSupplier-position">
                                Manager
                            </div>
                            <div class="sr-side-contSupplier-chat">
                                <b class="tm3_chat_status" dataid="CqbEToKjAhrY_CqbEToKjAhrY_3" inquiry="https://www.made-in-china.com/sendInquiry/shrom_CqbEToKjAhrY_CqbEToKjAhrY.html?from=shrom&amp;type=cs&amp;style=2&amp;page=home" processor="chat" cid="CqbEToKjAhrY" style="display:none"></b><a rel="nofollow" class="tm-status-on" href="javascript:void('Chat Now')" title="Chat with supplier online now!">Chat with Supplier.</a>
                            </div>
                        </div>
                    </div>
                    <div class="sr-side-contSupplier-btn">
                        <a target="_blank" class="btn btn-main" href="https://www.made-in-china.com/sendInquiry/shrom_CqbEToKjAhrY_CqbEToKjAhrY.html?from=shrom&amp;type=cs&amp;style=2&amp;page=home" rel="nofollow">
                            <i class="ob-icon icon-mail"></i>Contact Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sr-layout-main">

            <div class="sr-layout-block J-block sr-comProfile">
                <div class="sr-txt-title">
                    <h2 class="sr-txt-h2">Company Profile</h2>
                </div>
                <div class="sr-comProfile-info-wrap cf">
                    <div class="sr-comProfile-info-l ">
                        <div class="sr-proSlide sr-comProfile-slider J-comProfile-slider">
                            <div class="swiper-container J-comProfile-container swiper-container-horizontal swiper-container-autoheight">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper" style="height: 238px; transform: translate3d(-716px, 0px, 0px); transition-duration: 0ms;">
                                    <div class="slider-item swiper-slide J-comProfile-slide J-show-large-image c swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" style="width: 358px;">
                                        <div class="sr-proList-pic-cut">
                                            <img class="play" lazysrc="//image.made-in-china.com/214f0j00uvKtQLqygGko/Ananda-International-Industrial-Limited.jpg" origsrc="//image.made-in-china.com/210f0j00uvKtQLqygGko/Ananda-International-Industrial-Limited.jpg" alt="Ananda International Industrial Limited" title="Ananda International Industrial Limited" src="//image.made-in-china.com/214f0j00uvKtQLqygGko/Ananda-International-Industrial-Limited.jpg">
                                        </div>
                                    </div>
                                    <!-- Slides -->
                                    <div class="slider-item swiper-slide J-comProfile-slide J-show-large-image c swiper-slide-prev" data-swiper-slide-index="0" style="width: 358px;">
                                        <div class="sr-proList-pic-cut">
                                            <img class="play" src="//image.made-in-china.com/214f0j00zvSQaubdgYco/Ananda-International-Industrial-Limited.jpg" origsrc="//image.made-in-china.com/210f0j00zvSQaubdgYco/Ananda-International-Industrial-Limited.jpg" alt="Ananda International Industrial Limited" title="Ananda International Industrial Limited">
                                        </div>
                                    </div>
                                    <div class="slider-item swiper-slide J-comProfile-slide J-show-large-image c swiper-slide-active" data-swiper-slide-index="1" style="width: 358px;">
                                        <div class="sr-proList-pic-cut">
                                            <img class="play" lazysrc="//image.made-in-china.com/214f0j00ueZTEUbaufkc/Ananda-International-Industrial-Limited.jpg" origsrc="//image.made-in-china.com/210f0j00ueZTEUbaufkc/Ananda-International-Industrial-Limited.jpg" alt="Ananda International Industrial Limited" title="Ananda International Industrial Limited" src="//image.made-in-china.com/214f0j00ueZTEUbaufkc/Ananda-International-Industrial-Limited.jpg">
                                        </div>
                                    </div>
                                    <div class="slider-item swiper-slide J-comProfile-slide J-show-large-image c swiper-slide-next" data-swiper-slide-index="2" style="width: 358px;">
                                        <div class="sr-proList-pic-cut">
                                            <img class="play" lazysrc="//image.made-in-china.com/214f0j00uvKtQLqygGko/Ananda-International-Industrial-Limited.jpg" origsrc="//image.made-in-china.com/210f0j00uvKtQLqygGko/Ananda-International-Industrial-Limited.jpg" alt="Ananda International Industrial Limited" title="Ananda International Industrial Limited" src="//image.made-in-china.com/214f0j00uvKtQLqygGko/Ananda-International-Industrial-Limited.jpg">
                                        </div>
                                    </div>
                                    <div class="slider-item swiper-slide J-comProfile-slide J-show-large-image c swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" style="width: 358px;">
                                        <div class="sr-proList-pic-cut">
                                            <img class="play" src="//image.made-in-china.com/214f0j00zvSQaubdgYco/Ananda-International-Industrial-Limited.jpg" origsrc="//image.made-in-china.com/210f0j00zvSQaubdgYco/Ananda-International-Industrial-Limited.jpg" alt="Ananda International Industrial Limited" title="Ananda International Industrial Limited">
                                        </div>
                                    </div>
                                </div>
                                <div class="sr-proSlide-pager J-comProfile-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
                                <div class="sr-proSlide-btn-left J-comProfile-left">
                                    <i class="ob-icon icon-left-big"></i>
                                </div>
                                <div class="sr-proSlide-btn-right J-comProfile-right">
                                    <i class="ob-icon icon-right-big"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/template" id="J-large-image-Temp">
                        <div class="sr-largeImage J-largeImage">
                            <div class="sr-largeImage-bg"></div>
                            <div class="sr-largeImage-main">
                                <div class="sr-proSlide J-largeImg-wrapper">
                                    <div class="swiper-container J-largeImg-container">
                                        <div class="swiper-wrapper">
                                            {{ util.each(imageUrls, function(imageUrl){ }}
                                            <div class="swiper-slide J-largeImg-slide">
                                                <img src="{{-imageUrl}}" alt="" title="">
                                            </div>
                                            {{ }) }}
                                        </div>
                                        {{ if(imageUrls.length > 1){ }}
                                        <div class="sr-proSlide-btn-left J-largeImg-left">
                                            <i class="ob-icon icon-left-big"></i>
                                        </div>
                                        <div class="sr-proSlide-btn-right J-largeImg-right">
                                            <i class="ob-icon icon-right-big"></i>
                                        </div>
                                        {{ } }}
                                    </div>
                                </div>
                                <div class="sr-largeImage-close J-largeImage-close"><i class="ob-icon icon-delete"></i></div>
                            </div>
                        </div>
                    </script>

                </div>
                <div class="J-txt-wrap sr-comProfile-intro">
                    @Html.Raw(Model.AboutUs)
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="J-large-image-Temp">
        <div class="sr-largeImage J-largeImage">
            <div class="sr-largeImage-bg"></div>
            <div class="sr-largeImage-main">
                <img src="{{-imageUrl}}" alt="" title="">
                <div class="sr-largeImage-close J-largeImage-close"><i class="ob-icon icon-delete"></i></div>
            </div>
        </div>
    </script>
</div>






