﻿@model CategoryModel
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@*contact_dca705b2.css*@
@*<link href="~/Themes/MadeInBangladesh/Content/css/sr-layout-main.css" rel="stylesheet" />
    <link href="~/Themes/MadeInBangladesh/Content/css/prodDetail_20a1585a.css" rel="stylesheet" />
    <link href="~/Themes/MadeInBangladesh/Content/css/global_b97f1f29.css" rel="stylesheet" />
    <link href="~/Themes/MadeInBangladesh/Content/css/contact_dca705b2.css" rel="stylesheet" />*@
<link href="~/Themes/MadeInBangladesh/Content/css/catlog-sub-new_563be8b5.css" rel="stylesheet" />

@*<link href="~/Themes/MadeInBangladesh/Content/css/0aeucb7yho22khprioh_ib9hdaxciepe02qhd_f8ney.min.css" rel="stylesheet" />*@

@{
    Layout = "_ColumnsTwoCategory";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}


@*category breadcrumb*@
@*@section Breadcrumb
    {
    @if (Model.DisplayCategoryBreadcrumb)
    {*@

        

       
<div class="grid crumb">
    <span itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a itemprop="item" rel="nofollow" href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">
            <span itemprop="name">@T("Categories.Breadcrumb.Top")</span>
        </a><meta itemprop="position" content="1">
    </span>
    <i class="ob-icon icon-right"></i>
    <ul>
        @*<li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
            <span class="delimiter">@breadcrumbDelimiter</span>
        </li>*@
        @foreach (var cat in Model.CategoryBreadcrumb)
        {
            var isLastCategory = cat.Id == Model.Id;

            @if (isLastCategory)
            {
                <strong class="current-item">@cat.Name</strong>
            }
            else
            {

                @*<span class="delimiter">@breadcrumbDelimiter</span>*@

                <span itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a itemprop="item" rel="nofollow" href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">
                        <span itemprop="name">@cat.Name</span>
                    </a>
                    <meta itemprop="position" content="2">
                </span>
                <i class="ob-icon icon-right"></i>
            }

        }
    </ul>
</div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_after_breadcrumb", additionalData = Model.Id })
    @*}
}*@

<div class="grid sub-catlog">
    <div class="catlog-part cf">
        <div class="catlog-wrap catlog-hot">
            <h1 class="cate-title" title="Manufacturing &amp; Processing Machinery">@Model.Name</h1>

            @if (Model.SubCategories.Count > 0)
            {
            <ul class="cate-items cate-items-5">
                @foreach (var item in Model.SubCategories)
                {
                    <li class="item cate-item J-cate-item">
                        <div class="cate-item-wrap">
                            <div>
                                <h2 class="sub-cat-title ellipsis" title="Agriculture Machinery">
                                    <a style="display:block; width:100%" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">@item.Name</a></h2>
                                <i class="ob-icon icon-right"></i>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            }

        </div>

        <div class="catlog-prod catlog-prod-hot">
            @if (Model.SubCategories.Count > 0)
            {
                <ul class="catlog-prod-lists subcategories">

                    @foreach (var item in Model.SubCategories)
                    {
                        <li class="catlog-prod-list">
                            <div class="catlog-prod-list-wrap">
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                    <div class="prod-name ellipsis">@item.Name</div>
                                    <div class="prod-img">
                                        <div class="prod-img-wrap">

                                            <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" style="display: block;" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>
                    }

                </ul>
            }

            @if (Model.Products.Count > 0)
            {
                <ul class="catlog-prod-lists">                    
                        @foreach (var product in Model.Products)
                        {
                            @await Html.PartialAsync("_ProductBoxCategory", product)
                        }
                </ul>
            }
            
        </div>
    </div>
</div>

