﻿@model Nop.Web.Models.Catalog.SearchModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
    //page class
    Html.AppendPageCssClassParts("html-search-page");
}
<script type="text/javascript" asp-location="Footer">
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.adv)").click(toggleAdvancedSearch);
        toggleAdvancedSearch();
    });

    function toggleAdvancedSearch() {
        if ($('#@Html.IdFor(model => model.adv)').is(':checked')) {
            $('#advanced-search-block').show();
        }
        else {
            $('#advanced-search-block').hide();
        }
    }
</script>
<div class="page search-page">
    @*<div class="page-title">
        <h1>@T("Search")</h1>
    </div>*@
    <div class="page-body">
        @*<div class="search-input">
            <form asp-route="ProductSearch" method="get">
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="basic-search">
                            <div class="inputs">
                                <label asp-for="q">@T("Search.SearchTerm"):</label>
                                <input asp-for="q" class="search-text" />
                            </div>
                            @await Component.InvokeAsync("Widget", new { widgetZone = "productsearch_page_basic" })
                            <div class="inputs reversed">
                                <input asp-for="adv" />
                                <label asp-for="adv">@T("Search.AdvancedSearch")</label>
                            </div>
                        </div>
                        <div class="advanced-search" id="advanced-search-block">
                            @if (Model.AvailableCategories.Count > 0)
                            {
                                <div class="inputs">
                                    <label asp-for="cid">@T("Search.Category"):</label>
                                    <select asp-for="cid" asp-items="Model.AvailableCategories"></select>
                                </div>
                                <div class="inputs reversed">
                                    <input asp-for="isc" />
                                    <label asp-for="isc">@T("Search.IncludeSubCategories")</label>
                                </div>
                            }
                            @if (Model.AvailableManufacturers.Count > 0)
                            {
                                <div class="inputs">
                                    <label asp-for="mid">@T("Search.Manufacturer"):</label>
                                    <select asp-for="mid" asp-items="Model.AvailableManufacturers"></select>
                                </div>
                            }
                            @if (Model.asv && Model.AvailableVendors.Count > 0)
                            {
                                <div class="inputs">
                                    <label asp-for="vid">@T("Search.Vendor"):</label>
                                    <select asp-for="vid" asp-items="Model.AvailableVendors"></select>
                                </div>
                            }
                            <div class="inputs">
                                <label>@T("Search.PriceRange"):</label>
                                <span class="price-range">
                                    @T("Search.PriceRange.From")
                                    <input asp-for="pf" class="price-from" />
                                    @T("Search.PriceRange.To")
                                    <input asp-for="pt" class="price-to" />
                                </span>
                            </div>
                            <div class="inputs reversed">
                                <input asp-for="sid" />
                                <label asp-for="sid">@T("Search.SearchInDescriptions")</label>
                            </div>
                            @await Component.InvokeAsync("Widget", new { widgetZone = "productsearch_page_advanced" })
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" class="button-1 search-button" value="@T("Search.Button")" />
                </div>
            </form>
        </div>*@

        @if (Model.IsProduct)
        {
            @if (Model.Products.Count > 0)
            {
                @await Html.PartialAsync("_CatalogSelectors", Model.PagingFilteringContext)
            }

            <div class="search-results">
                @if (!string.IsNullOrEmpty(Model.Warning))
                {
                    <div class="warning">
                        @Model.Warning
                    </div>
                }
                @if (Model.NoResults)
                {
                    <div class="no-result">
                        @T("Search.NoResultsText")
                    </div>
                }

                @if (Model.Products.Count > 0)
                {
                    <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                        <div class="item-grid">
                            @foreach (var product in Model.Products)
                            {
                                <div class="item-box">
                                    @await Html.PartialAsync("_ProductBox", product)
                                </div>
                            }
                        </div>
                    </div>
                }
                @{
                    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("adv").BooleanParameterName("isc").BooleanParameterName("sid").RenderEmptyParameters(true);
                }
                @if (!pager.IsEmpty())
                {
                    <div class="pager">
                        @pager
                    </div>
                }
            </div>
                    }

                    else
                    {
                        <div class="search-suppliers">
                            
                                @if (Model.Products.Count > 0)
                                {
                                    <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                                        <div class="item-grid">
                                            @foreach (var vendor in Model.Vendors)
                                            {
                                                <div class="vendor-item">
                                                    <h1 class="company-name"><a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a></h1>
                                                    <div class="company-info">
                                                        <div class="company-box">
                                                            <div class="company-intro">

                                                                <div class="company-row">
                                                                    <div>City/Province:</div>
                                                                    <div>@vendor.Address.City, @vendor.Address.CountryName</div>
                                                                </div>
                                                                <div class="company-row">
                                                                    Business Type :  @vendor.BusinessType
                                                                </div>
                                                                <div class="company-row">
                                                                    Main Products: :  @vendor.MainProducts
                                                                </div>
                                                                <div class="company-row">
                                                                    Mgmt. Certification :  @vendor.MgmtCertification
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            
                        </div>
                    }


        @await Component.InvokeAsync("Widget", new { widgetZone = "productsearch_page_before_results" })

        @await Component.InvokeAsync("Widget", new { widgetZone = "productsearch_page_after_results" })
    </div>
</div>
<script>

    $(window).load(function () {

        var isChecked = true;
        var isSearchProduct = "@Model.IsProduct";

        if (isSearchProduct.toLowerCase() == "false") {
            isChecked = false;

            $(".m-search-select-title span").text("Suppliers");
            $(".m-search-select select").val("1").change();
            $(".m-search-option").find("a").text("Products");
            $(".m-search-option").attr("data-option", "2");

           
        }

        else {
            $(".m-search-select-title span").text("Products");
            $(".m-search-select select").val("0").change();
            $(".m-search-option").find("a").text("Suppliers");
            $(".m-search-option").attr("data-option", "1");
        }
        setTimeout(function () {
            $('#IsProduct').prop('checked', isChecked).val(isChecked);
        },10)
         
    })
   
</script>