﻿@model TopMenuModel.CategoryLineModel
<li class="item cate-item loadedswiper">

    <a class="cf item-link J-first-cate" data-index="1" href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">
        <span class="fl cate-name J-first-cate-name" data-index="1">
            @Model.Category.Name
            @if (Model.Category.NumberOfProducts.HasValue)
            {
                <text> </text>@T("Categories.TotalProducts", Model.Category.NumberOfProducts.Value)
            }
        </span>
        <i class="micon fr"></i>
    </a>

    @{
        //subcategories
        var subCategories = Model.ResponsiveMobileMenu ?
            //responsive (all categories)
            Model.Category.SubCategories :
            //standard design (only categories with "IncludeInTopMenu")
            Model.Category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();

        var levelClass = "";
        if (Model.Level == 0)
        {
            levelClass = "first-level";
        }
        if (subCategories.Count > 0)
        {
            
            @*<ul class="sublist @levelClass">
                       @foreach (var subCategory in subCategories)
                       {
                           var categoryLineModel = new TopMenuModel.CategoryLineModel
                           {
                               Category = subCategory,
                               Level = Model.Level + 1,
                               ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                           };
                           @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
                       }
                </ul>*@
            <div data-index="1" class="J-item-more item-more J-im" style="top: -15px;">
                <div class="item-more-ani-wrap J-imaw">
                    <div class="row more-categories-items">
                        <div class="items-line items-line3">
                            <div class="items-line-wrap cf">
                                <div class="items-line-child">
                                    <div class="items-line-short ">
                                        <div class="items-line-child-title">
                                            <div class="items-line-child-title">@Model.Category.SeName</div>
                                            @foreach (var subCategory in subCategories)
    {
        var categoryLineModel = new TopMenuModel.CategoryLineModel
        {
            Category = subCategory,
            Level = Model.Level + 1,
            ResponsiveMobileMenu = Model.ResponsiveMobileMenu
        };

                                        <a class="item" href="@Url.RouteUrl("Category", new { SeName = categoryLineModel.Category.SeName })">@categoryLineModel.Category.SeName</a>
}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</li>