﻿@{
    Layout = "_RootCustomRegister";
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}

<div class="m-header">
    <div class="grid">
        <div class="m-header-row">
            <div class="m-logo-wrap">
                @*<a href="//www.made-in-china.com/" title="Manufacturers &amp; Suppliers" class="m-logo"></a>*@
                @await Component.InvokeAsync("Logo")
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Widget", new { widgetZone = "main_column_before" })
@RenderBody()
@await Component.InvokeAsync("Widget", new { widgetZone = "main_column_after" })

