﻿@using Nop.Core.Domain.Customers;
@{
    var workContext = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWorkContext>();
    var isReg = workContext.CurrentCustomer.IsRegistered();
    var currentCustomer = workContext.CurrentCustomer;
}
<div class="m-header pad-header">
    <div class="grid">
        <div class="m-header-row">
            <div class="pad-menu-entry pad-show J-menu-entry">
                <i class="micon"></i>
            </div>
            <h1>
                <div class="m-logo-wrap">
                    @*<a href="/" title="Manufacturers &amp; Suppliers" class="m-logo" style="text-decoration: underline;;background:none;font-size:27px;width:auto;color:red">
                    Made In Bangladesh
                </a>
                <span style="display: block;position: absolute;top: 33px;color: #000;text-align: justify;font-size: 14px;letter-spacing: 6px;">The New Asian Tiger</span>*@
                    @await Component.InvokeAsync("Logo")
                </div>
            </h1>
            <div class="m-header-menu pad-header-menu J-menu-wrap">
                <div class="pad-header-menu-top J-menu-close">
                    <i class="ob-icon icon-delete"></i>Menu
                </div>
                <input type="hidden" class="J-top-userType" value="${userType}">
                <div class="fl pad-header-menu-item pad-header-loginInfo J-top-loginInfo J-tab-trigger">

                    @{
                        if (isReg)
                        {
                            <div class="pad-header-unlogin J-top-unlogin">
                                <div class="m-header-menu-item">
                                    <a rel="nofollow" href="/logout" ads-data="t:51,c:1,a:2" class="m-header-menu-title link-blue pad-header-sign-btn J-top-signIn  ">Sign Out</a>
                                </div>

                                <div class="m-header-menu-gap"></div>
                                <div class="m-header-menu-item">
                                    <a rel="nofollow" href="/customer/info" ads-data="t:51,c:1,a:1" class="m-header-menu-title link-blue pad-header-join-btn">My Acount</a>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="pad-header-unlogin J-top-unlogin">
                                <div class="m-header-menu-item">
                                    <a rel="nofollow" href="/login" ads-data="t:51,c:1,a:2" class="m-header-menu-title link-blue pad-header-sign-btn J-top-signIn  ">Sign In</a>
                                </div>
                                <div class="m-header-menu-gap"></div>
                                <div class="m-header-menu-item">
                                    <a rel="nofollow" href="/register" ads-data="t:51,c:1,a:1" class="m-header-menu-title link-blue pad-header-join-btn">Join Free</a>
                                </div>
                            </div>
                        }
                    }


                    <div class="m-header-menu-item m-header-select pad-header-logged J-top-logged" style="display:none">
                        <a rel="nofollow" href="http://membercenter.made-in-china.com/member/main/" class="m-header-menu-title m-header-select-title link-blue pad-hide"><span class="J-top-username "></span> <em class="num J-messageTotal"></em></a>
                        <span class="m-header-menu-title m-header-select-title pc-hide pad-show pad-acount-txt">My Acount<i class="ob-icon icon-down"></i><em class="num J-messageTotal"></em></span>
                        <ul class="m-header-option-list J-userFeature ">
                            <li class="m-header-option m-header-option-with-num pc-hide pad-show pad-acount-link">
                                <a rel="nofollow" href="http://membercenter.made-in-china.com/member/main/" class="link-blue"><span class="J-top-username "></span></a>
                            </li>
                            <li class="m-header-option-gap pc-hide pad-show"></li>
                            <li class="m-header-option m-header-option-with-num J-top-inquiry">
                                <a rel="nofollow" href="http://membercenter.made-in-china.com/message/index.html#inbox" data-unread="http://membercenter.made-in-china.com/message/index.html#inbox..filterType=1">New Message(s) <em class="num J-num">0</em></a>
                            </li>
                            <li class="m-header-option m-header-option-with-num J-supplier J-top-rfq" style="display:none">
                                <a rel="nofollow" href="http://membercenter.made-in-china.com/quotationmanage.do?xcase=receivedRfq">Unquoted Sourcing Request(s) <em class="num J-num">0</em></a>
                            </li>
                            <li class="m-header-option m-header-option-with-num J-buyer J-top-rfq" style="display:none">
                                <a rel="nofollow" href="http://purchase.made-in-china.com/rfq/quotationCompare" data-unread="http://purchase.made-in-china.com/rfq/quotationCompare?buyerReadFlag=0">New Quote(s) of Sourcing Request <em class="num J-num">0</em></a>
                            </li>
                            <li class="m-header-option J-supplier" style="display:none">
                                <a rel="nofollow" href="http://membercenter.made-in-china.com/product.do?xcase=list">Manage Products</a>
                            </li>
                            <li class="m-header-option J-supplier J-top-editor" style="display:none">
                                <a rel="nofollow" href="http://editor.made-in-china.com/">Edit My Showroom</a>
                            </li>
                            <li class="m-header-option-gap"></li>
                            <li class="m-header-option">
                                <a rel="nofollow" href="https://login.made-in-china.com/logon.do?xcase=doLogout&amp;baseNextPage=https%3A%2F%2Fwww.made-in-china.com%2F" class="J-top-signOut">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-header-menu-gap"></div>

                <script>
                    var __supplierFeatureIsShowCn = false;
                </script>
                <div class="m-header-menu-gap"></div>
                @if (isReg && currentCustomer.AccountType == 2 && currentCustomer.MembershipType == 0 && currentCustomer.Paid == false)
                {
                    <div class="m-header-menu-item m-header-menu-basket pad-header-menu-item">
                        <a rel="nofollow" href="/Checkout/PaymentMethod">
                            <i class=""></i>
                            Payment
                        </a>
                    </div>
                }
                <div class="m-header-menu-gap"></div>
                @if (isReg)
                {
                    <div class="m-header-menu-item m-header-menu-basket pad-header-menu-item">
                        <a rel="nofollow" href="/message-list">
                            <i class=""></i>
                            Message Box
                        </a>
                    </div>
                }

                <div class="m-header-menu-item m-header-menu-basket pad-header-menu-item">
                    <a rel="nofollow" href="/memebership">
                        <i class=""></i>
                        Supplier Memberships
                    </a>
                </div>

                @await Component.InvokeAsync("HeaderLinks")

            </div>

        </div>


        <div class="m-header-row layout-2-wings m-search-rfq pad-search-bar">
            <div class="layout-body-wrap ">
                <div class="layout-body pad-search-body">
                    <div class="m-search-bar layout-2-wings search-box store-search-box">
                        @await Component.InvokeAsync("SearchBox")
                    </div>                    
                </div>
               
            </div>
            <div class="pad-categories-entry pad-show J-categories-entry">
                <i class="micon"></i> Categories
            </div>

        </div>
        @*@await Component.InvokeAsync("Widget", new { widgetZone = "header_before" })
            <div class="header-upper">
                <div class="header-selectors-wrapper">
                    @await Component.InvokeAsync("TaxTypeSelector")
                    @await Component.InvokeAsync("CurrencySelector")
                    @await Component.InvokeAsync("LanguageSelector")
                    @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
                </div>
                <div class="header-links-wrapper">
                    @await Component.InvokeAsync("HeaderLinks")
                    @await Component.InvokeAsync("FlyoutShoppingCart")
                </div>
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "header_middle" })
            <div class="header-lower">
                <div class="header-logo">
                    @await Component.InvokeAsync("Logo")
                </div>
                <div class="search-box store-search-box">
                    @await Component.InvokeAsync("SearchBox")
                </div>
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "header_after" })*@
    </div>
</div>
