﻿<div class="m-header m-search-gray pad-header">
    <div class="grid">
        <div class="m-header-row">
            <h1>
                <div class="m-logo-wrap">
                    @*<a href="//www.made-in-china.com/" title="Manufacturers &amp; Suppliers" class="m-logo"></a>*@
                    @await Component.InvokeAsync("Logo")
                </div>
            </h1>
            <div class="m-header-menu pad-header-menu J-menu-wrap">
                <div class="pad-header-menu-top J-menu-close">
                    <i class="ob-icon icon-delete"></i>Menu
                </div>
                <input type="hidden" class="J-top-userType" value="${userType}">
                <div class="fl pad-header-menu-item pad-header-loginInfo J-top-loginInfo J-tab-trigger">
                    <div class="pad-header-unlogin J-top-unlogin">
                        <div class="m-header-menu-item">
                            <a rel="nofollow" href="/login" ads-data="t:51,c:1,a:2" class="m-header-menu-title link-blue pad-header-sign-btn J-top-signIn  ">Sign In</a>
                        </div>
                        <div class="m-header-menu-gap"></div>
                        <div class="m-header-menu-item">
                            <a rel="nofollow" href="/register" ads-data="t:51,c:1,a:1" class="m-header-menu-title link-blue pad-header-join-btn">Join Free</a>
                        </div>
                    </div>
                    <div class="m-header-menu-item m-header-select pad-header-logged J-top-logged" style="display:none">
                        <a rel="nofollow" href="http://membercenter.made-in-china.com/member/main/" class="m-header-menu-title m-header-select-title link-blue pad-hide"><span class="J-top-username "></span> <em class="num J-messageTotal"></em></a>
                        <span class="m-header-menu-title m-header-select-title pc-hide pad-show pad-acount-txt">My Acount<i class="ob-icon icon-down"></i><em class="num J-messageTotal"></em></span>
                        <ul class="m-header-option-list J-userFeature ">
                            <li class="m-header-option m-header-option-with-num pc-hide pad-show pad-acount-link">
                                <a rel="nofollow" href="http://membercenter.made-in-china.com/member/main/" class="link-blue"><span class="J-top-username "></span></a>
                            </li>
                            <li class="m-header-option-gap pc-hide pad-show"></li>
                            <li class="m-header-option m-header-option-with-num J-top-inquiry">
                                <a rel="nofollow" href="http://membercenter.made-in-china.com/message/index.html#inbox" data-unread="http://membercenter.made-in-china.com/message/index.html#inbox..filterType=1">New Message(s) <em class="num J-num">0</em></a>
                            </li>
                            <li class="m-header-option m-header-option-with-num J-supplier J-top-rfq" style="display:none">
                                <a rel="nofollow" href="http://membercenter.made-in-china.com/quotationmanage.do?xcase=receivedRfq">Unquoted Sourcing Request(s) <em class="num J-num">0</em></a>
                            </li>
                            <li class="m-header-option m-header-option-with-num J-buyer J-top-rfq" style="display:none">
                                <a rel="nofollow" href="http://purchase.made-in-china.com/rfq/quotationCompare" data-unread="http://purchase.made-in-china.com/rfq/quotationCompare?buyerReadFlag=0">New Quote(s) of Sourcing Request <em class="num J-num">0</em></a>
                            </li>
                            <li class="m-header-option J-supplier" style="display:none">
                                <a rel="nofollow" href="http://membercenter.made-in-china.com/product.do?xcase=list">Manage Products</a>
                            </li>
                            <li class="m-header-option J-supplier J-top-editor" style="display:none">
                                <a rel="nofollow" href="http://editor.made-in-china.com/">Edit My Showroom</a>
                            </li>
                            <li class="m-header-option-gap"></li>
                            <li class="m-header-option">
                                <a rel="nofollow" href="https://login.made-in-china.com/logon.do?xcase=doLogout&amp;baseNextPage=https%3A%2F%2Fwww.made-in-china.com%2F" class="J-top-signOut">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-header-menu-gap"></div>
                <div class="m-header-menu-item m-header-select pad-header-menu-item J-tab-trigger">
                    <span class="m-header-menu-title m-header-select-title">For Buyer<i class="ob-icon icon-down"></i></span>
                    <ul class="m-header-option-list m-header-option-list-left m-header-option-cwp pad-header-option-cwp">
                        <li class="m-header-option-col">
                            <dl>
                                <dt class="m-header-option-caption">Search Products &amp; Suppliers</dt>
                                <dd class="m-header-option">
                                    <a ads-data="t:51,c:1,a:6" href="//www.made-in-china.com/prod/catlist/" target="_blank">Product Directory</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a ads-data="t:51,c:1,a:10" href="//www.made-in-china.com/suppliers-discovery/" target="_blank">Supplier Discovery</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" ads-data="t:51,c:1,a:7" href="http://purchase.made-in-china.com/trade-service/quotation-request.html?source=1" target="_blank">Post Sourcing Request</a>
                                </dd>
                            </dl>
                            <dl class="m-header-option-gap"></dl>
                            <dl>
                                <dt class="m-header-option-caption">Sourcing Solutions</dt>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="//www.made-in-china.com/industry-channels/" target="_blank">Source from Industry Hubs</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="//custom.made-in-china.com/" target="_blank">Customize Your Products</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="//distributor.made-in-china.com/" target="_blank">Distribute Competitive Products</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="http://mei.made-in-china.com/" target="_blank">MEI Awards-Winning Products</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="http://expo.made-in-china.com/" target="_blank">Smart Expo</a>
                                </dd>
                            </dl>
                            <dl class="m-header-option-gap"></dl>
                        </li>
                        <li class="m-header-option-col">
                            <dl>
                                <dt class="m-header-option-caption">Service</dt>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="//www.made-in-china.com/help/how-to-source-products-on-made-in-china-com.html" target="_blank">New User Guide</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" ads-data="t:64" href="//www.made-in-china.com/product-alert/" target="_blank">Product Alert</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="//www.made-in-china.com/audited-suppliers/for-buyers/" target="_blank">Supplier Audit Report</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="http://sourcing.made-in-china.com/tradeservice/private-sourcing-meetings.html" target="_blank">Meet Suppliers</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="//www.made-in-china.com/special/forbuyerapp/" target="_blank">Download App for Buyer</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="//www.made-in-china.com/aboutus/contact/" target="_blank">Contact Us</a>
                                </dd>
                            </dl>
                            <dl class="m-header-option-gap"></dl>
                            <dl>
                                <dt class="m-header-option-caption">Quick Links</dt>
                                <dd class="m-header-option" name="${userName}">
                                    <a rel="nofollow" href="http://membercenter.made-in-china.com/micfavorite.do?xcase=disposal&amp;favoriteType=prod">My Favorites</a>
                                </dd>
                                <dd class="m-header-option">
                                    <a rel="nofollow" href="//www.made-in-china.com/browsing-history/">Recent Visit History</a>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="m-header-menu-gap"></div>
                <script>
                    var __supplierFeatureIsShowCn = false;
                </script>
                <div class="m-header-menu-item m-header-select pad-header-menu-item J-tab-trigger">    <span class="m-header-menu-title m-header-select-title">For Suppliers<i class="ob-icon icon-down"></i></span>    <ul class="m-header-option-list">        <li class="m-header-option">            <a rel="nofollow" href="//www.made-in-china.com/supplier-membership.html" target="_blank">加入高级会员</a>        </li>        <li class="m-header-option">            <a rel="nofollow" href="http://sourcing.made-in-china.com/suppliers.html" target="_blank">Search Sourcing Requests</a>        </li>        <li class="m-header-option">            <a rel="nofollow" href="http://g.made-in-china.com/import-export-service" target="_blank">Import &amp; Export Service</a>        </li>        <li class="m-header-option">            <a rel="nofollow" href="http://service.made-in-china.com/bulletin/function/4992.htm" target="_blank">Download APP for Supplier</a>        </li>        <li class="m-header-option">            <a rel="nofollow" href="http://service.made-in-china.com/" target="_blank">会员e家</a>        </li>    </ul></div>
                <div class="m-header-menu-gap"></div>
                <div class="m-header-menu-item m-header-menu-basket pad-header-menu-item">
                    <a rel="nofollow" href="//www.made-in-china.com/inquiry-basket/" ads-data="t:51,c:1,a:16">
                        <i class="ob-icon icon-cart"></i>
                        Inquiry Basket <em class="num-basket J-top-basketNum">0</em>
                    </a>
                </div>
                <div class="m-header-menu-gap"></div>
                <div class="m-header-menu-item m-header-select pad-header-menu-item J-tab-trigger">
                    <span class="m-header-menu-title m-header-select-title">English<i class="ob-icon icon-down"></i></span>
                    <ul class="m-header-option-list m-header-option-list-left">
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//es.made-in-china.com/">Español</a></li>
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//pt.made-in-china.com/">Português</a></li>
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//fr.made-in-china.com/">Français</a></li>
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//ru.made-in-china.com/">Русский язык</a></li>
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//it.made-in-china.com/">Italiano</a></li>
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//de.made-in-china.com/">Deutsch</a></li>
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//nl.made-in-china.com/">Nederlands</a></li>
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//sa.made-in-china.com/">العربية</a></li>
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//kr.made-in-china.com/">한국어</a></li>
                        <li class="m-header-option"><a rel="nofollow" target="_blank" href="//jp.made-in-china.com/">日本語</a></li>
                    </ul>
                </div>
            </div>
            <div class="pad-menu-entry pad-show J-menu-entry">
                <i class="micon"></i> Menu
            </div>
        </div>

        <div class="m-header-row layout-2-wings m-search-rfq pad-search-bar">
            <div class="layout-body-wrap pad-search-wrap J-pad-search-bar">
                <div class="layout-body pad-search-body">
                    <div class="m-search-bar layout-2-wings m-search-bar-long-option" id="J-search-new-flag">
                        <form name="searchForm" method="get" action="/product/keywordSearch">
                            <div class="m-search-input-wrap layout-body-wrap">
                                <div class="layout-body J-inputWrap" style="margin-left: 120px;">
                                    <input type="text" name="word" value="" class="m-search-input J-m-search-input" placeholder="Search Products" data-suggest="product" autocomplete="off" x-webkit-speech="x-webkit-speech">
                                    <input type="hidden" name="subaction" value="hunt">
                                    <input type="hidden" name="style" value="b">
                                    <input type="hidden" name="mode" value="and">
                                    <input type="hidden" name="code" value="0">
                                    <input type="hidden" name="comProvince" value="nolimit">
                                    <input type="hidden" name="order" value="0">
                                    <input type="hidden" name="isOpenCorrection" value="1">
                                    <div class="m-search-tips-wrap">
                                        <div class="m-search-tips-list J-searchHistory" style="display: none;"><ul><li class="m-search-tip-title">Your Recent Keywords</li><li class="m-search-tip J-search-tip-item" data-word="Mobile Phone"><a class="ellipsis" href="javascript:void(0);">Mobile Phone</a></li><li class="m-search-tip J-search-tip-item" data-word="agricultural machinery"><a class="ellipsis" href="javascript:void(0);">agricultural machinery</a></li><li class="m-search-tip J-search-tip-item" data-word="manufacturing &amp; processing machinery"><a class="ellipsis" href="javascript:void(0);">manufacturing &amp; processing machinery</a></li><li class="m-search-tip J-search-tip-item" data-word="consumer electronics"><a class="ellipsis" href="javascript:void(0);">consumer electronics</a></li><li class="m-search-tip-clear"><a class="link-blue J-clear-search-history" href="javascript:void(0);">Clear History</a></li></ul></div>
                                    </div>
                                    <div class="m-search-tips-wrap">
                                        <div class="m-search-tips-list J-searchSuggest" style="display: none;"><ul class="J-suggest-list" style="display: none;"></ul></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-wing-left" style="width: 120px;">
                                <div class="m-search-select J-searchType">
                                    <select style="display:none;">
                                        <option value="3" placeholder="Search Products" data-width="120" data-action="/product/keywordSearch">In This Site</option>
                                        <option value="0" placeholder="Search Products" data-width="192" data-action="//www.made-in-china.com/productdirectory.do?subaction=hunt&amp;style=b&amp;mode=and&amp;code=0&amp;comProvince=nolimit&amp;order=0&amp;isOpenCorrection=1">On Made-in-China.com</option>
                                    </select>
                                    <div class="m-search-select-title">
                                        <span>In This Site</span>
                                        <i class="ob-icon icon-down"></i>
                                    </div>
                                    <dl class="m-search-option-list" style=""><dd class="m-search-option"><a href="javascript:;">On Made-in-China.com</a></dd></dl>
                                </div>
                            </div>
                            <div class="layout-wing-right">
                                <div class="m-search-btn-wrap">
                                    <button type="submit" class="m-search-btn J-m-search-btn"><i class="ob-icon icon-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <input type="hidden" class="J-is-supplier-self" value="0">
                        <input type="hidden" class="J-is-offer" value="0">
                    </div>
                    <div class="pad-search-close J-search-close">
                        <i class="micon"></i>
                    </div>
                </div>
            </div>
            
        </div>

        @*<div class="m-header-row layout-2-wings m-search-rfq pad-search-bar">
            <div class="layout-body-wrap pad-search-wrap J-pad-search-bar">
                <div class="layout-body pad-search-body">
                    <div class="m-search-bar layout-2-wings m-search-bar-long-option" id="J-search-new-flag">
                        <form name="searchForm" method="get" action="/product/keywordSearch">
                            <div class="m-search-input-wrap layout-body-wrap">
                                <div class="layout-body J-inputWrap" style="margin-left: 120px;">
                                    <input type="text" name="word" value="" class="m-search-input J-m-search-input" placeholder="Search Products" data-suggest="product" autocomplete="off" x-webkit-speech="x-webkit-speech">
                                    <input type="hidden" name="subaction" value="hunt">
                                    <input type="hidden" name="style" value="b">
                                    <input type="hidden" name="mode" value="and">
                                    <input type="hidden" name="code" value="0">
                                    <input type="hidden" name="comProvince" value="nolimit">
                                    <input type="hidden" name="order" value="0">
                                    <input type="hidden" name="isOpenCorrection" value="1">
                                    <div class="m-search-tips-wrap">
                                        <div class="m-search-tips-list J-searchHistory" style="display: none;"><ul><li class="m-search-tip-title">Your Recent Keywords</li><li class="m-search-tip J-search-tip-item" data-word="Mobile Phone"><a class="ellipsis" href="javascript:void(0);">Mobile Phone</a></li><li class="m-search-tip J-search-tip-item" data-word="Agricultural Machinery"><a class="ellipsis" href="javascript:void(0);">Agricultural Machinery</a></li><li class="m-search-tip J-search-tip-item" data-word="Manufacturing &amp; Processing Machinery"><a class="ellipsis" href="javascript:void(0);">Manufacturing &amp; Processing Machinery</a></li><li class="m-search-tip J-search-tip-item" data-word="consumer electronics"><a class="ellipsis" href="javascript:void(0);">consumer electronics</a></li><li class="m-search-tip-clear"><a class="link-blue J-clear-search-history" href="javascript:void(0);">Clear History</a></li></ul></div>
                                    </div>
                                    <div class="m-search-tips-wrap">
                                        <div class="m-search-tips-list J-searchSuggest" style="display: none;"><ul class="J-suggest-list" style="display: none;"></ul></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-wing-left" style="width: 120px;">
                                <div class="m-search-select J-searchType">
                                    <select style="display:none;">
                                        <option value="3" placeholder="Search Products" data-width="120" data-action="/product/keywordSearch">In This Site</option>
                                        <option value="0" placeholder="Search Products" data-width="192" data-action="//www.made-in-china.com/productdirectory.do?subaction=hunt&amp;style=b&amp;mode=and&amp;code=0&amp;comProvince=nolimit&amp;order=0&amp;isOpenCorrection=1">On Made-in-China.com</option>
                                    </select>
                                    <div class="m-search-select-title">
                                        <span>In This Site</span>
                                        <i class="ob-icon icon-down"></i>
                                    </div>
                                    <dl class="m-search-option-list" style=""><dd class="m-search-option"><a href="javascript:;">On Made-in-China.com</a></dd></dl>
                                </div>
                            </div>
                            <div class="layout-wing-right">
                                <div class="m-search-btn-wrap">
                                    <button type="submit" class="m-search-btn J-m-search-btn"><i class="ob-icon icon-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <input type="hidden" class="J-is-supplier-self" value="0">
                        <input type="hidden" class="J-is-offer" value="0">
                    </div>
                    <div class="pad-search-close J-search-close">
                        <i class="micon"></i>
                    </div>
                </div>
            </div>
            <div class="layout-wing-right pad-sourcing-request J-pad-rfq-wrap">
                <div class="rfq-post-box" id="rfqPostBox">
                    <a href="http://purchase.made-in-china.com/trade-service/quotation-request.html?source=1" rel="nofollow" id="headRfqList" class="m-rfq">
                        <i class="ob-icon icon-purchase"></i>Post Sourcing Request
                    </a><div class="rfq-post-tip" style="display:none"><div class="rfq-post-tipcont"><h3>Post one request to compare multiple quotes!</h3><div class="rfq-post-tiplist"><ul></ul></div><div><a id="headRfqList-sub" href="http://purchase.made-in-china.com/trade-service/quotation-request.html?source=2" target="_blank" class="btn btn-main">Post Sourcing Request</a></div></div><span class="arrow arrow-top"><span class="arrow arrow-in"></span></span></div>
                </div>
            </div>
        </div>*@













        @*<div class="m-header-row layout-2-wings m-search-rfq pad-search-bar">
            <div class="layout-body-wrap">
                <div class="layout-body pad-search-body">
                    <div class="m-search-bar layout-2-wings" itemscope="" itemtype="http://schema.org/WebSite" id="J-search-new-flag">
                        <meta itemprop="url" content="//www.made-in-china.com/">
                        <form itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" name="searchForm" method="get" action="//www.made-in-china.com/productdirectory.do?subaction=hunt&amp;style=b&amp;mode=and&amp;code=0&amp;comProvince=nolimit&amp;order=0&amp;isOpenCorrection=1">
                            <div class="m-search-input-wrap layout-body-wrap">
                                <div class="layout-body J-inputWrap" style="margin-left: 107px;">
                                    <meta itemprop="target" content="//www.made-in-china.com/productdirectory.do?subaction=hunt&amp;word={word}">
                                    <input type="text" name="word" itemprop="query-input" class="m-search-input" placeholder="Enter a keyword to search products" autocomplete="off" x-webkit-speech="x-webkit-speech" data-suggest="product">







                                    <div class="m-search-tips-wrap">
                                        <div class="m-search-tips-list J-searchHistory" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="m-search-tips-wrap">
                                        <div class="m-search-tips-list J-searchSuggest" style="display: none;"><ul class="J-suggest-list" style="display: none;"></ul></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-wing-left" style="width: 107px;">
                                <div class="m-search-select J-searchType">
                                    <select style="display:none;">
                                        <option value="0" placeholder="Enter a keyword to search products" data-suggest="product" data-width="107" data-action="//www.made-in-china.com/productdirectory.do?subaction=hunt&amp;style=b&amp;mode=and&amp;code=0&amp;comProvince=nolimit&amp;order=0&amp;isOpenCorrection=1">Products</option>
                                        <option value="1" placeholder="Enter a keyword to search suppliers" data-suggest="supplier" data-width="107" data-action="//www.made-in-china.com/companysearch.do?subaction=hunt&amp;style=b&amp;mode=and&amp;code=0&amp;comProvince=nolimit&amp;order=0&amp;isOpenCorrection=1">Suppliers</option>
                                        <option value="2" placeholder="For suppliers to search sourcing requests" data-width="169" data-action="http://sourcing.made-in-china.com/sourcingrequest?type=keyword&amp;requestfor=1">Sourcing Requests</option>
                                    </select>
                                    <div class="m-search-select-title">
                                        <span>Products</span> <i class="ob-icon icon-down"></i>
                                    </div>
                                    <dl class="m-search-option-list"><dd class="m-search-option"><a href="javascript:;">Suppliers</a></dd><dd class="m-search-option"><a href="javascript:;">Sourcing Requests</a></dd></dl>
                                </div>
                            </div>
                            <div class="layout-wing-right">
                                <div class="m-search-btn-wrap">
                                    <button type="submit" class="m-search-btn"><i class="ob-icon icon-search"></i></button>
                                </div>
                            </div>
                            <input type="hidden" name="subaction" value="hunt"><input type="hidden" name="style" value="b"><input type="hidden" name="mode" value="and"><input type="hidden" name="code" value="0"><input type="hidden" name="comProvince" value="nolimit"><input type="hidden" name="order" value="0"><input type="hidden" name="isOpenCorrection" value="1">
                        </form>
                    </div>
                </div>
            </div>
            <div class="pad-categories-entry pad-show J-categories-entry">
                <i class="micon"></i> Categories
            </div>
            <div class="layout-wing-right pad-hide">
                <div class="rfq-post-box" id="rfqPostBox">
                    <a href="http://purchase.made-in-china.com/trade-service/quotation-request.html?source=1" rel="nofollow" id="headRfqList" class="m-rfq">
                        <i class="ob-icon icon-purchase"></i>Post Sourcing Request
                    </a><div class="rfq-post-tip" style="display: none;"><div class="rfq-post-tipcont"><h3>Post one request to compare multiple quotes!</h3><div class="rfq-post-tiplist"><ul><li><div class="des"><p>PVC Electrical Tape</p><p><span>Purchase Quantity</span>:30000 Piece(s)</p><p class="green">This request has just got 3 quotes for comparison.</p></div><div class="country"><i class="flag flag-pk"></i>Pakistan</div></li><li><div class="des"><p>Brown Bags</p><p><span>Purchase Quantity</span>:500000 Piece(s)</p><p class="green">This request has just got 5 quotes for comparison.</p></div><div class="country"><i class="flag flag-bw"></i>Botswana</div></li><li><div class="des"><p>Anticancer</p><p><span>Purchase Quantity</span>:50 Piece(s)</p><p class="green">This request has just got 4 quotes for comparison.</p></div><div class="country"><i class="flag flag-us"></i>United States</div></li></ul></div><div><a id="headRfqList-sub" href="http://purchase.made-in-china.com/trade-service/quotation-request.html?source=2" target="_blank" class="btn btn-main">Post Sourcing Request</a></div></div><span class="arrow arrow-top"><span class="arrow arrow-in"></span></span></div>
                </div>
            </div>
        </div>*@
        @*@await Component.InvokeAsync("Widget", new { widgetZone = "header_before" })
        <div class="header-upper">
            <div class="header-selectors-wrapper">
                @await Component.InvokeAsync("TaxTypeSelector")
                @await Component.InvokeAsync("CurrencySelector")
                @await Component.InvokeAsync("LanguageSelector")
                @await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" })
            </div>
            <div class="header-links-wrapper">
                @await Component.InvokeAsync("HeaderLinks")
                @await Component.InvokeAsync("FlyoutShoppingCart")
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_middle" })
        <div class="header-lower">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="search-box store-search-box">
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_after" })*@
    </div>
</div>



@await  Component.InvokeAsync("CompanyHeader")

<div class="sr-nav-wrap theme-07 ">
    <div class="sr-nav J-nav-fix" style="top: 0px; right: auto; bottom: auto; left: auto; position: static;">
        <div class="sr-layout-wrap">
            <ul class="sr-nav-main">
                <li class="sr-nav-item ">
                    <a href="@Url.RouteUrl("SupplierDetails")" class="sr-nav-title">
                        Home
                    </a>
                </li>
                <li class="sr-nav-item selected ">
                    <a href="https://jinpen.en.made-in-china.com/product-list-1.html" class="sr-nav-title">
                        <i class="ob-icon icon-category"></i>Products
                    </a>
                    <div class="sr-nav-sub cf">
                        <a href="https://jinpen.en.made-in-china.com/product-group/tMyJnbBEsphg/Sprinkler-irrigation-equipment-accessories-catalog-1.html" class="sr-nav-sub-title">
                            Sprinkler irrigation equipment accessories
                        </a>
                        <a href="https://jinpen.en.made-in-china.com/product-group/TqyxncvVYUWP/Plastic-coated-hose-catalog-1.html" class="sr-nav-sub-title">
                            Plastic coated hose
                        </a>
                        <a href="https://jinpen.en.made-in-china.com/product-group/kojxqLeKApcz/spray-head-catalog-1.html" class="sr-nav-sub-title">
                            spray head
                        </a>
                        <a href="https://jinpen.en.made-in-china.com/product-group/BMsJiGeorrhZ/irrigation-system-catalog-1.html" class="sr-nav-sub-title">
                            irrigation system
                        </a>
                        <a href="https://jinpen.en.made-in-china.com/product-group/OejJIHqYrrWy/hose-reel-irrigation-system-catalog-1.html" class="sr-nav-sub-title">
                            hose reel irrigation system
                        </a>
                        <a href="https://jinpen.en.made-in-china.com/product-group/wMCmicbVMRWs/pump-catalog-1.html" class="sr-nav-sub-title">
                            pump
                        </a>
                        <a href="/Product-Catalogs/" class="sr-nav-sub-title">
                            <i class="ob-icon icon-pdf"></i>
                            Product Catalogs
                        </a>
                    </div>
                </li>
                <li class="sr-nav-item ">
                    <a href="@Url.RouteUrl("SupplierAboutUs")" class="sr-nav-title">
                        About Us
                    </a>
                </li>
                <li class="sr-nav-item ">
                    <a href="https://jinpen.en.made-in-china.com/Solutions/" class="sr-nav-title">
                        Solutions
                    </a>
                </li>
                <li class="sr-nav-item ">
                    <a href="@Url.RouteUrl("SupplierContactUs")" class="sr-nav-title">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


