﻿@{
    Layout = "_RootContactUs.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = "body_start_html_tag_after" })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")

@await Component.InvokeAsync("AdminHeaderLinks")

@*Call partial class for header items, top of the web items like logo, sign in*@
@await Html.PartialAsync("_HeaderContactUs")


<script type="text/javascript" asp-location="Footer">
    AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
</script>
@*<div class="header-menu">
        @await Component.InvokeAsync("TopMenu")
    </div>*@

@await Component.InvokeAsync("Widget", new { widgetZone = "content_before" })

@if (IsSectionDefined("Breadcrumb"))
{
    @RenderSection("Breadcrumb")
}

@RenderBody()

@await Component.InvokeAsync("Widget", new { widgetZone = "content_after" })

@await Component.InvokeAsync("Footer")

@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })
