﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
<div class="m-footer pad-footer">
    <div class="grid">


        <div class="m-footer-simple-links">
            <div class="m-footer-simple-links-group">
                <div class="m-footer-simple-links-row">
                    @if (Model.SitemapEnabled)
                    {
                        <a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a>
                    }

                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        if (topic.SeName != "shipping-returns")
                        {
                            <a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a>

                            <span class="m-gap-line"></span>
                        }

                    }
                    <a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a>
                    <span class="m-gap-line"></span>

                    @*<a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a>
        <span class="m-gap-line"></span>*@

                    @if (Model.NewsEnabled)
                    {
                        <a href="@Url.RouteUrl("NewsArchive")">@T("News")</a>
                        <span class="m-gap-line"></span>
                    }
                    @*@if (Model.BlogEnabled)
        {
            <a href="@Url.RouteUrl("Blog")">@T("Blog")</a>
            <span class="m-gap-line"></span>
        }*@
                    @*@if (Model.ForumEnabled)
        {
            <a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a>
        }*@
                    @if (Model.RecentlyViewedProductsEnabled)
                    {
                        <a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a>
                        <span class="m-gap-line"></span>
                    }
                    @*@if (Model.CompareProductsEnabled)
        {
            <a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a>
            <span class="m-gap-line"></span>
        }*@
                    @if (Model.NewProductsEnabled)
                    {
                        <a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a>
                        @*<span class="m-gap-line"></span>*@
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                    {
                        <a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a>

                    }


                </div>
                @*<div class="m-footer-simple-links-row pad-hide">
                    <span class="m-footer-simple-links-title">Focus Technology:</span>
                    <a href="//www.made-in-china.com/">Made-in-China.com</a>
                    <span class="m-gap-line"></span>
                    <a href="https://m.made-in-china.com/">m.Made-in-China.com</a>
                    <span class="m-gap-line"></span>
                    <a href="http://cn.made-in-china.com/" target="_blank" rel="nofollow">
                        cn.Made-in-China.com
                    </a>
                    <span class="m-gap-line"></span>
                    <a href="//www.ttnet.net/" target="_blank" rel="nofollow">ttnet.net</a>
                    <span class="m-gap-line"></span>
                    <a href="//tw.ttnet.net/" target="_blank" rel="nofollow">
                        tw.ttnet.net
                    </a>
                </div>*@
            </div>
            <div class="m-footer-simple-links-group">

                <div class="m-footer-simple-links-row m-footer-copyright">
                    Copyright © 2018 <a class="J-focusChinaLink" href="http://madeinbangladesh.online/" target="_blank" rel="nofollow">
                    MadeInBangladesh. </a>All Rights Reserved.
                    @*<span class="m-gap-line"></span>
                    <a rel="nofollow" href="//www.made-in-china.com/help/terms/" target="_self">Terms &amp; Conditions</a>
                    <span class="m-gap-line"></span>
                    <a rel="nofollow" href="//www.made-in-china.com/help/declaration/" target="_self">Declaration</a>
                    <span class="m-gap-line"></span>
                    <a rel="nofollow" href="//www.made-in-china.com/help/policy/" target="_self">Privacy Policy</a>*@
                </div>
            </div>
            <div class="m-footer-simple-links-row m-footer-govIcon pad-hide">
            </div>
        </div>
    </div>
</div>