﻿@model IList<ProductOverviewModel>
    @if (Model.Count > 0)
    {
        <div class="product-grid home-page-product-grid">
            <h3 class="medium-size-bold product-title">@T("HomePage.Products")</h3>
            <div class="row products-wrap">
                
                @foreach (var item in Model)
                {
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                }
            </div>
        </div>

}
