﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{

    var count = 0;
    <div class="inr you-may-like">
        <div class="cf yml-header">
            <h2 class="medium-size-bold">@T("HomePage.Products.YouMayLike")</h2>
        </div>
        <ul class="yml-content">
            @foreach (var item in Model)
            {
                if (4 > count)
                {
                    <li class="cf item">
                        <a rel="nofollow" href="@Url.RouteUrl("Product", new {SeName = item.SeName})" target="_blank">
                            <div class="yml-img-wrap fl">
                                <img class="item-img" src="@item.DefaultPictureModel.ImageUrl" alt="Processing Machinery">
                            </div>
                            <span class="item-name link-hover" title="Processing Machinery">@item.Name</span>

                        </a>
                    </li>
                    count++;
                }

            }


        </ul>
    </div>

}

