﻿@*@model Nop.Web.Models.Buyer.MessageListModel*@
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<link href="/Themes/MadeInBangladesh/Content/css/sr-layout-main.css" rel="stylesheet">
<link href="/Themes/MadeInBangladesh/Content/css/prodDetail_20a1585a.css" rel="stylesheet">
<link href="/Themes/MadeInBangladesh/Content/css/global_b97f1f29.css" rel="stylesheet">

<div class="sr-container J-layout skin-01 ">
    <div class="sr-layout-wrap sr-layout-resp">
        <div class="sr-layout-main home-layout-main bidding-list">
            <div class="sr-layout-block">
                <div class="sr-txt-title">
                    <h2 class="sr-txt-h2"></h2>
                </div>
                <div class="sr-layout-content">
                    <div class="sr-layout-row">
                        @*<div class="sr-layout-col-5 sr-proList">
            <div class="sr-proList-pic-wrap">
                <div class="sr-proList-pic ">
                    <div class="prod-image ">
                        <a href="/asus-1210" title="Show details for Asus 1210">
                            <img src="http://localhost:15539/images/thumbs/default-image_415.png" title="Show details for Asus 1210" alt="Picture of Asus 1210" style="display: block;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="sr-proList-txt">
                <div class="sr-proList-name">
                    <a href="/asus-1210" title="Show details for Asus 1210">
                        Asus 1210
                    </a>
                </div>
                <div class="sr-proList-price" title="FOB Price: US $863-869 / Piece">
                    <span class="sr-proList-unit">Price: </span>
                    <span class="sr-proList-num">$62.00 </span>
                    <span class="">/ Piece</span>
                </div>
                <div class="sr-proList-price" title="Min. Order: 1 Piece">
                    <span class="sr-proList-unit">Min. Order: </span>
                    1 Piece
                </div>
            </div>
        </div>*@

                        <div class="m-gallery-product-item-wrap">
                            <div class="m-gallery-product-item-v2" data-role="item" data-eurl="//us-click.alibaba.com/ci_bb?ot=local&amp;a=1909922722&amp;e=wX8Fy4yRR8P2ti50qUGyQjvCU92GbPxaTyuns1TnflW5xwt78R8dLR.opvtbA-RDf.TU-a8HvUnkkwV0Ccx3j5uCuVE5k5Kp4zICZ3ViQ-U.9yZd0CJ5n6EvaPavH-A3XVUA4IJE1bHR5YHmD9QMUCEKQlMYqQbwHdCIQcX5p3MA9O9pvJlJuk68nTwCwju37JFikAHWlXJhsvdmriY0VYhuKb5.B-Xd2NtaYNChpYQ9w3ZLssBPi7tSAAtdmzQE47.eV-WBgzYxth4qrNfDwGarotnx5N.Kze5R-1QRCV1efb8swW4k7WCQjKU7a-UfTJ-Yk5PC.1-CRyQXzatOm4GT56ZQUuNxHSMSyhSPCR4ovg.FvzyZU1wUjNYVeNztKLAIh7p4Qim9Vu6hsOruFVJtNsQhS.KJoEJVo2mCwlKlFqndkpXMhiZYrHI7-F0R5OyKtI9ibAbJ2Am.2dtDoNRtkOWeqEPzusGQRorNwXY08lFxsxwPCe.564RkBxzRlOyjyTKh0MG39qv6yoluV-7O70q6LAswmbcgp3iFU6AHcpHu8-3LMdLRhZLR0pLEfIoNgwB2uuydwPgAz6F6eNo5Csh3aWs4&amp;ap=1&amp;rp=1" data-promotion-listitem="1200000107,1200000185" data-ctrdot="60807666465" data-ctrdot_f="IDX1bm_2J89Q2QX6WuQ5TT3SedKBW0PGuXKcrhD2nO84LNZ5mF_wDrSczyVMrVQmnzLl" data-imgindex="0" data-supplierid="200937873" data-ispreload="true">
                                <div class="item-main" id="product-1">
                                    <div class="item-img"> <div class="place"></div> <div class="item-img-inner"> <a target="_blank" data-domdot="id:2677,pid:60807666465,ext:'n=1|s=p|t={{attr target}}'" data-p4plog="60807666465" rel="nofollow" href="https://www.alibaba.com/product-detail/Hot-Cartoon-Skin-Baby-Bibs-Eat_60807666465.html?s=p"> <div class="offer-image-box"> <img onload="window.getLTime();" src="//sc02.alicdn.com/kf/HTB1ffc1BgmTBuNjy1Xbq6yMrVXaA/Hot-Cartoon-Skin-Baby-Bibs-Eat-Solid.jpg_300x300.jpg" alt="Hot Cartoon Skin Baby Bibs Eat Solid Convenience Health Silicone Waterproof Bid"> </div> <div class="image-arrow-wrap image-arrow-wrap-left" data-domdot="id:25103"> <i class="ui2-icon ui2-icon-arrow-left image-arrow-left"></i> </div> <div class="image-arrow-wrap image-arrow-wrap-right" data-domdot="id:25103"> <i class="ui2-icon ui2-icon-arrow-right image-arrow-right"></i> </div> <div class="icon-wrap"> </div> </a> </div> </div> <div class="item-info">
                                        <h2 class="title three-line"> <span data-role="tags-before-title"></span> <a target="_blank" data-domdot="id:2678,pid:60807666465,ext:'n=1|s=p|t={{attr target}}'" data-p4plog="60807666465" rel="nofollow" href="https://www.alibaba.com/product-detail/Hot-Cartoon-Skin-Baby-Bibs-Eat_60807666465.html?s=p" title="Hot Cartoon Skin Baby Bibs Eat Solid Convenience Health Silicone Waterproof Bid"> <div class="ad-flag"> <div class="sl">Ad</div> </div> Hot Cartoon Skin Baby Bibs Eat Solid Convenience Health Silicone Waterproof <strong>Bid</strong> </a> <span data-role="tags-after-title"></span> </h2> <div data-role="tags-below-title">
                                            <div class="promotion-tags-wrapper">
                                                <span class="promotion-activity-tag style-195020">undefined</span>
                                            </div>
                                        </div> <div class="pmo"> <div class="price"> <b> US $0.28-0.9 </b> / Piece </div> <div class="min-order"> <b>500 Pieces</b> (Min. Order) </div> </div> <div class="stitle util-ellipsis"> <span class="supplier-year" style="cursor: pointer" data-domdot="id:2678,pid:60807666465,ext:'n=1|s=p|t={{attr target}}'" onclick="window.open('//activities.alibaba.com/alibaba/adcms/www-alibaba-com/help/gold_supplier.php')" target="_blank" title="What is Gold Supplier?"> <span class="new-supplier-icon"> <i class="supplier-icon gold-supplier-old-icon ui2-icon-svg ui2-icon-svg-xs ui2-icon-svg-gold-supplier"></i> <span class="value">6</span> <span class="unit">YRS</span> </span> </span> <span style="cursor: pointer" title="Huizhou Dingshuai Silicone Products Co., Ltd." onclick="window.open('//hzdingxin.en.alibaba.com/company_profile.html#top-nav-bar')" data-domdot="id:2679,pid:60807666465,ext:'n=1|s=p|t={{attr target}}'" data-p4plog="60807666465" target="_blank">Huizhou Dingshuai Silicone Products Co., Ltd.</span> </div> <div class="sstitle"> <div class="supplier"> <span data-ta="item-tips-action" data-ta-price="US $96,828" style="cursor: pointer" onclick="window.open('//tradeassurance.alibaba.com?tracelog=from_list_item')"> <i class="supplier-icon ui2-icon-svg ui2-icon-svg-xs ui2-icon-svg-trade-assurance"></i> </span> <i title="Assessed by a third party inspection company. An Assessment Report is available for download." class="supplier-icon ui2-icon-svg ui2-icon-svg-xs ui2-icon-svg-assessed-supplier"></i> </div> <span style="cursor: pointer" class="diamond-level-group" title="Transaction Level embodied historical trading capacity on alibaba.com." onclick="window.open('//hzdingxin.en.alibaba.com/company_profile/transaction_level.html#elsejavascript:;')"> <i class="ui2-icon-svg diamon-icon ui2-icon-svg-xs ui2-icon-svg-diamond-level-one"></i> <i class="ui2-icon-svg diamon-icon ui2-icon-svg-xs ui2-icon-svg-diamond-level-one"></i> <i class="ui2-icon-svg diamon-icon ui2-icon-svg-xs ui2-icon-svg-diamond-level-one"></i> </span> <div class="num" title="Response Rate: 92.1% of buyers who contacted this supplier received a response within 24 hours."> <i class="ui2-icon ui2-icon-skip">92.1%</i> </div> </div> <div class="hr"><span></span></div> <div class="contact"> <span style="background:#f60;color:#fff" class="ui2-button ui2-button-default ui2-button-primary ui2-button-small csp" data-domdot="id:2675,pid:60807666465,ext:'n=1|s=p|t={{attr target}}'" data-p4plog="60807666465" onclick="window.open('//message.alibaba.com/msgsend/contact.htm?action=contact_action&amp;appForm=s_en&amp;chkProductIds=60807666465&amp;chkProductIds_f=IDX1bm_2J89Q2QX6WuQ5TT3SedKBW0PGuXKcrhD2nO84LNZ5mF_wDrSczyVMrVQmnzLl&amp;tracelog=contactOrg')" data-role="contact-supplier"> <i class="ui2-icon ui2-icon-message ico-cs"></i> Contact Supplier </span> <span style="cursor: pointer" data-domdot="id:2676,pid:60807666465,ext:'n=1|s=p|t={{attr target}}'" class="atm" data-cid="60807666465" data-cid_f="IDX1bm_2J89Q2QX6WuQ5TT3SedKBW0PGuXKcrhD2nO84LNZ5mF_wDrSczyVMrVQmnzLl" data-tmlid="8pctgRBMALOsY8aYJNwozbU74TFIVsKj" data-market="false" data-role="atm" href="javascript:;" data-widget-cid="widget-55"><div class="alitalk-unit alitalk-normal atm-grey" data-status="OFFLINE" title="Please Leave a Message"></div></span> </div> <div class="action">
                                            <div class="compare-action">
                                                <a class="fc compare" data-role="compare" data-mod="gallery_product" href="javascript:;" data-pid="60807666465">
                                                    <div class="ui2-checkbox ui2-checkbox-customize">
                                                        <label class="ui2-checkbox-customize-label">
                                                            <input class="ui2-checkbox-customize-val checked" type="checkbox">
                                                            <span class="ui2-checkbox-customize-txt">Add to Compare</span>
                                                        </label>
                                                    </div>
                                                </a>
                                            </div> <div class="more-entry-wrap invisible">
                                                <a class="more-entry">···</a> <div class="more-entry-container-wrap">
                                                    <span class="more-entry-transparent-shadow">
                                                    </span>
                                                    <div class="more-entry-container">
                                                        <div class="action" style="display: none;">
                                                            <a class="fc compare" data-role="compare" data-mod="gallery_product" href="javascript:;" data-pid="60807666465">
                                                                <div class="ui2-checkbox ui2-checkbox-customize">
                                                                    <label class="ui2-checkbox-customize-label">
                                                                        <input class="ui2-checkbox-customize-val" type="checkbox">
                                                                        <span class="ui2-checkbox-customize-txt">Add to Compare</span>
                                                                    </label>
                                                                </div>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <div class="tags"> <div class="tags-container">2.Super soft silicone will not hurt baby's neck. 2. You can get reliable quality products at lowest cost. 4. Accept small quantity for trail orders.</div> <div class="tags-bottom"></div> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

