﻿@model Nop.Core.Domain.Vendors.VendorSettings
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");

    var MaximumProductNumberForBasic = Model.MaximumProductNumberForBasic.ToString();
    if (Model.MaximumProductNumberForBasic == -1)
    {
        MaximumProductNumberForBasic = "Unlimited";
    }

    var MaximumProductPostingForStandard = Model.MaximumProductPostingForStandard.ToString();
    if (Model.MaximumProductPostingForStandard == -1)
    {
        MaximumProductPostingForStandard = "Unlimited";
    }

    var MaximumProductPostingForPremium = Model.MaximumProductPostingForPremium.ToString();
    if (Model.MaximumProductPostingForPremium == -1)
    {
        MaximumProductPostingForPremium = "Unlimited";
    }
}

<div class="page container contact-page">
    @*<div class="page-title">
            <h1>@T("PageTitle.SupplierMembership")</h1>
        </div>*@
    <div class="page-body">

        <div class="result">
            <div class="for_desktop">
                <div id="content">
                    <div class="lite-h3"><div class="lite-til">Choose a Membership Package</div><div class="lite-line"></div></div>
                    <table cellpadding="0" cellspacing="0" width="100%" class="lite-table">
                        <tbody>
                            <tr>
                                <td style="background:none;" rowspan="2" class="td1 td3 height color1" width="276"></td>
                                <td colspan="3" class="td1 height bold color3">Gold Supplier Membership</td>

                                <td class="td1 td4 height bold" width="230">FREE Member</td>
                            </tr>
                            <tr><td class="height2 font16 color3"><div class="unhovered">Premium Package</div></td><td class="font16 color3"><div class="unhovered">Standard Package</div></td><td class="font16 color3">
                                
                                <div class="unhovered">Basic Package</div></td><td class="td4  font12">Buyers or those suppliers still<br> thinking about using Alibaba.com</td></tr>
                            <tr class="price">
                                <td class="td3 color1"></td>
                                <td class="color3"><span class="mony"><font class="india-pre">BDT </font><font class="font18 premium-price">1,80,000</font></span></td>
                                <td class="color3"><span class="mony"><font class="india-pre">BDT </font><font class="font18 standard-price">1,40,000</font></span></td>
                                <td class="color3"><span class="mony"><font class="india-pre">BDT </font><font class="font18 basic-price">1,00,000</font></span></td>
                                <td class="td4 "><span class="free">FREE</span></td>
                            </tr>
                            <tr>
                                <td class="td3 font18 bold color1">Main Features</td>
                                <td class="color3">
                                    <a href="/register?type=3" class="lite-btn apply">Apply Now</a>
                                </td>
                                <td class="color3">
                                    <a href="/register?type=2" class="lite-btn white-btn apply">Apply Now</a>
                                </td>
                                <td class="color3">
                                    <a href="/register?type=1" class="lite-btn white-btn apply">Apply Now</a>
                                </td>
                                <td class="td4 ">
                                    <a href="/register?type=0" class="lite-btn white-btn">Join Free</a>
                                </td>
                            </tr>
                            <tr><td class="td3 color1 markets priority">Priority Ranking</td><td class="color3">1st</td><td class="color3">2nd</td><td class="color3">3rd</td><td class="td4 ">4th</td></tr>
                            <tr><td class="td3 color1 markets">Product Posting</td><td class="color3">@MaximumProductPostingForPremium</td><td class="color3">@MaximumProductPostingForStandard</td><td class="color3">@MaximumProductNumberForBasic</td><td class="td4 ">@Model.MaximumProductNumberForFreeMember</td></tr>
                            <tr><td class="td3 color1 bold markets">Product Showcases</td><td class="color3 bold">@Model.MaximumProductShowcaseForPremium</td><td class="color3 bold">@Model.MaximumProductShowcaseForStandard</td><td class="color3 bold">@Model.MaximumProductShowcaseNumberForBasic</td><td class="td4 bold">@Model.MaximumProductShowcaseNumberForFreeMember</td></tr>
                            <tr><td class="td3 color1 markets">Ability to quote Buying Requests</td><td class="color3">Y</td><td class="color3">Y</td><td class="color3">Y</td><td class="td4 ">--</td></tr>
                            <tr><td class="td3 color1 markets">Verified Icon</td><td class="color3">Y</td><td class="color3">Y</td><td class="color3">Y</td><td class="td4 ">--</td></tr>
                            <tr><td class="td3 color1 markets">Customized Website</td><td class="color3">Y</td><td class="color3">Y</td><td class="color3">Y</td><td class="td4 ">--</td></tr>
                            <tr style="display:none;"><td class="td3 color1 markets">Biz Trends - Visitor Data</td><td class="color3">Y</td><td class="color3">Y</td><td class="color3">--</td><td class="td4 ">--</td></tr>
                            <tr><td class="td3 color1 markets">Personalized Customer Service</td><td class="color3">Y</td><td class="color3">--</td><td class="color3">--</td><td class="td4 ">--</td></tr>

                            <tr><td class="td3 color1"></td><td class="color3"></td><td class="color3"></td><td class="color3"></td><td class="td4"></td></tr>

                            <tr>
                                <td style="background:none;" class="td3 td5 color1"></td>
                                <td class="td5 color3">
                                    <a href="/register?type=3" class="lite-btn apply">Apply Now</a>
                                </td>
                                <td class="td5 color3">
                                    <a href="/register?type=2" class="lite-btn apply">Apply Now</a>
                                </td>
                                <td class="td5 color3">
                                    <a href="/register?type=1" class="lite-btn white-btn apply">Apply Now</a>
                                </td>
                                <td class="td4 td5">
                                    <a href="/register?type=0" class="lite-btn white-btn">Join Free</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="lite-h3" style="margin: 75px 0px 32px 0px;display:none;"><div class="lite-til" style="width:402px;">Key Benefits of Gold Supplier</div><div class="lite-line"></div></div>
                    <div class="bene" style="display:none;">
                        <table cellpadding="0" cellspacing="0" width="100%" class="bene-table">
                            <tbody>
                                <tr>
                                    <td width="333">Unlimited product display with first-level<br> Priority Listing</td>
                                    <td width="405">Exclusive Access to Buyers before Free<br> Members</td>
                                    <td width="252">Real-time statistical reports to understand<br> your online performance</td>
                                </tr>
                                <tr>
                                    <td>Product Showcase makes a powerful,<br> visual impact</td>
                                    <td>Premium Company Website attracts<br>serious buyers</td>
                                    <td>Verified company status to increase<br> buyer confidence</td>
                                </tr>
                                <tr>
                                    <td>Targeted exposure to tradeshow buyers<br> worldwide</td>
                                    <td>Promotional opportunities with global<br> Big Buyers</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @*=============================================================================*@
            <div class="for_mobile">
                <div id="content">
                    <div class="table_top_title custom_table">
                        <h1>Gold Supplier Membership</h1>
                    </div>
                    <div class="table_body">
                        <h2 class="custom_table">Premium Package</h2>
                        <div class="color3 custom_table_border">
                            <span class="mony">
                                <font class="india-pre">BDT</font>
                                <font class="font18 premium-price">1,80,000</font>
                            </span>
                        </div>
                        <div class="color3 custom_table_border">
                            <div class="td3 font18 bold color1">Main Features: <a href="/register" class="lite-btn apply custom_button">Apply Now</a></div>
                        </div>
                        <div class="color3 custom_table_border">Priority Ranking: <span class="text_bold">1st</span></div>
                        <div class="color3 custom_table_border">Product Posting: <span class="text_bold">Unlimited</span></div>
                        <div class="color3 bold custom_table_border">Product Showcases: <span class="text_bold">34</span></div>
                        <div class="color3 custom_table_border">Ability to quote Buying Requests: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border">Verified Icon: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border">Customized Website: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border">Personalized Customer Service: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border"></div>
                        <div class="td5 color3 custom_table_border">
                            <a href="/register" class="lite-btn apply custom_button">Apply Now</a>
                        </div>
                    </div>
                    <div class="table_body">
                        <h2 class="custom_table">Standard Package</h2>
                        <div class="color3 custom_table_border">
                            <span class="mony">
                                <font class="india-pre">BDT</font>
                                <font class="font18 premium-price">1,40,000</font>
                            </span>
                        </div>
                        <div class="color3 custom_table_border">
                            <div class="td3 font18 bold color1">Main Features: <a href="/register" class="lite-btn apply custom_button">Apply Now</a></div>
                        </div>
                        <div class="color3 custom_table_border">Priority Ranking: <span class="text_bold">2nd</span></div>
                        <div class="color3 custom_table_border">Product Posting: <span class="text_bold">Unlimited</span></div>
                        <div class="color3 bold custom_table_border">Product Showcases: <span class="text_bold">12</span></div>
                        <div class="color3 custom_table_border">Ability to quote Buying Requests: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border">Verified Icon: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border">Customized Website: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border">Personalized Customer Service: <span class="text_bold">--</span></div>
                        <div class="color3 custom_table_border"></div>
                        <div class="td5 color3 custom_table_border">
                            <a href="/register" class="lite-btn apply custom_button">Apply Now</a>
                        </div>
                    </div>
                    <div class="table_body">
                        <h2 class="custom_table">Basic Package</h2>
                        <div class="color3 custom_table_border">
                            <span class="mony">
                                <font class="india-pre">BDT</font>
                                <font class="font18 premium-price">1,00,000</font>
                            </span>
                        </div>
                        <div class="color3 custom_table_border">
                            <div class="td3 font18 bold color1">Main Features: <a href="/register" class="lite-btn apply custom_button">Apply Now</a></div>
                        </div>
                        <div class="color3 custom_table_border">Priority Ranking: <span class="text_bold">3rd</span></div>
                        <div class="color3 custom_table_border">Product Posting: <span class="text_bold">Unlimited</span></div>
                        <div class="color3 bold custom_table_border">Product Showcases: <span class="text_bold">34</span></div>
                        <div class="color3 custom_table_border">Ability to quote Buying Requests: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border">Verified Icon: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border">Customized Website: <span class="text_bold">Y</span></div>
                        <div class="color3 custom_table_border">Personalized Customer Service: <span class="text_bold">--</span></div>
                        <div class="color3 custom_table_border"></div>
                        <div class="td5 color3 custom_table_border">
                            <a href="/register" class="lite-btn apply custom_button">Apply Now</a>
                        </div>
                    </div>


                    <div class="table_top_title custom_table table_top_second">
                        <h1>FREE Member</h1>
                    </div>
                    <div class="table_body">
                        <h2 class="custom_table">
                            Buyers or those suppliers still
                            thinking about using Alibaba.com
                        </h2>
                        <div class="color3 custom_table_border">
                            <span class="mony text_bold">
                                FREE
                            </span>
                        </div>
                        <div class="color3 custom_table_border">
                            <div class="td3 font18 bold color1">Main Features: <a href="/register" class="lite-btn apply custom_button">Join Free</a></div>
                        </div>
                        <div class="color3 custom_table_border">Priority Ranking: <span class="text_bold">4th</span></div>
                        <div class="color3 custom_table_border">Product Posting: <span class="text_bold">23</span></div>
                        <div class="color3 bold custom_table_border">Product Showcases: <span class="text_bold">23</span></div>
                        <div class="color3 custom_table_border">Ability to quote Buying Requests: <span class="text_bold">--</span></div>
                        <div class="color3 custom_table_border">Verified Icon: <span class="text_bold">--</span></div>
                        <div class="color3 custom_table_border">Customized Website: <span class="text_bold">--</span></div>
                        <div class="color3 custom_table_border">Personalized Customer Service: <span class="text_bold">--</span></div>
                        <div class="color3 custom_table_border"></div>
                        <div class="td5 color3 custom_table_border">
                            <a href="/register" class="lite-btn apply custom_button">Join Free</a>
                        </div>
                    </div>
                </div>

            </div>
            @*==============================================================================*@
        </div>


    </div>
</div>
