﻿@model Nop.Web.Areas.Admin.Models.Suppliers.SupplierInfoModel

<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_info_top", additionalData = Model.Id })
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="@Model.AboutUs" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="@Model.AboutUs" asp-template="RichEditor" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="@Model.ContactUS" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="@Model.ContactUS" asp-template="RichEditor" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_info_bottom", additionalData = Model.Id })
</div>