﻿@model Nop.Web.Areas.Admin.Models.Suppliers.SupplierInboxModel

<form asp-controller="Supplier" asp-action="Reply" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Id" type="hidden" />
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Reply Here
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Inbox">Back to Inbox</a>
            </small>
        </h1>
        
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div class="pull-left">
                        @await Component.InvokeAsync("SettingMode", new { modeName = "category-advanced-mode" })
                    </div>
                </div>
            </div>
            <div class="panel-group">
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_info_top", additionalData = Model.Id })
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.BuyerEmail" />
                                </div>
                                <div class="col-md-9">
                                    @Model.BuyerEmail
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.ProductName" />
                                </div>
                                <div class="col-md-9">
                                    @Model.ProductName
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.ProductQuantity" />
                                </div>
                                <div class="col-md-9">
                                    @Model.ProductQuantity
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.QuantityUnit" />
                                </div>
                                <div class="col-md-9">
                                    @Model.QuantityUnit
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.Message" />
                                </div>
                                <div class="col-md-9">
                                    <nop-textarea asp-for="Message" asp-disabled="true"></nop-textarea>
                                    @*@Model.Message*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.CreatedOn" />
                                </div>
                                <div class="col-md-9">
                                    @Model.CreatedOn
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.UpdatedOn" />
                                </div>
                                <div class="col-md-9">
                                    @Model.UpdatedOn
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.Reply" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="@Model.Reply" asp-template="RichEditor" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <button type="submit" name="save" class="btn bg-blue">
                                        Reply
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_info_bottom", additionalData = Model.Id })
            </div>
        </div>
    </div>
</form>