﻿@model Nop.Web.Areas.Admin.Models.Suppliers.SupplierInfoModel

<form asp-controller="Supplier" asp-action="SupplierInfo" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Id" type="hidden" />
    <input asp-for="SupplierId" type="hidden" />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add or Edit Supplier Info
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="">Back to Supplier Info</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_buttons" })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div class="pull-left">
                        @await Component.InvokeAsync("SettingMode", new { modeName = "category-advanced-mode" })
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_CreateOrUpdate.Info", Model)
        </div>
    </div>
</form>