﻿@model CompanyHeaderModel

<div class="sr-comInfo">
    <div class="sr-layout-wrap">
        <div class="sr-comInfo-logo">
            <a href="https://jinpen.en.made-in-china.com" title="Jiangsu Jinpen Irrigation Equipment Co., Ltd.">
                <img src="//image.made-in-china.com/206f0j00waEtDbTImQkV/Jiangsu-Jinpen-Irrigation-Equipment-Co-Ltd-.jpg" data-original="//image.made-in-china.com/206f0j00waEtDbTImQkV/Jiangsu-Jinpen-Irrigation-Equipment-Co-Ltd-.jpg" alt="Jiangsu Jinpen Irrigation Equipment Co., Ltd." style="display: inline;">
            </a>
        </div>

        <div class="sr-comInfo-r">
            <div class="sr-comInfo-title J-title-comName in-pc">
                <div class="title-txt">
                    <a href="@Url.RouteUrl("SupplierDetails", new { supplierId = Model.Id})">@Model.Name<i class="ob-icon icon-down"></i></a>
                </div>                
            </div>            
        </div>
    </div>
</div>




