﻿@model LoginModel
@using System.Net
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOneLogin";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + WebUtility.UrlEncode(this.Context.Request.Query["returnUrl"]), null);
    }
}

<link href="~/Themes/MadeInBangladesh/Content/css/login.css" rel="stylesheet" />
<link href="~/Themes/MadeInBangladesh/Content/css/login-responsive.css" rel="stylesheet" />

<div class="grid login-box login-box-new">
    <!-- MIC Logo & Live Chat -->
    <div class="m-header">
        <div class="grid">
            <div class="m-header-row">
                <div class="m-logo-wrap">
                    @*<a href="/" title="Manufacturers &amp; Suppliers" class="m-logo" style="text-decoration: underline;;background:none;font-size:27px;width:auto;color:red">
            Made In Bangladesh
        </a>
        <span style="display: block;position: absolute;top: 33px;color: #000;text-align: justify;font-size: 14px;letter-spacing: 6px;">The New Asian Tiger</span>*@
                    
                    @await Component.InvokeAsync("Logo")
                </div>
            </div>
        </div>
    </div>
    @*<span class="help">
        Need Help? <a href="javascript:void(0)" id="live-chat">Live Chat</a>
    </span>*@
    <div class="flex-container login-wrap">
        <!-- ADVERTISE -->
        <div class="login-ad flex-items">
            <a href="/" target="_blank">
                <img style="width: 100%;" src="~/Themes/MadeInBangladesh/Content/images/sign-default-abroad.jpg" alt="Post Sourcing Request to Ease Your Buying" title="Post Sourcing Request to Ease Your Buying">
            </a>
        </div>
        <div class="login-form flex-items">
            <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                <!-- error info -->

                @if (Model.UsernamesEnabled)
                {
                    <div class="inputs">
                        <label asp-for="Username" asp-postfix=":"></label>
                        <input asp-for="Username" class="username" autofocus="autofocus" />
                        <span asp-validation-for="Username"></span>
                    </div>
                }
                else
                {
                    <div class="form-item">
                        <label asp-for="Email" class="form-label" asp-postfix=":"></label>
                        <div class="form-fields mail-wrap">
                            <input asp-for="Email" class="email input-text J-loginname" autofocus="autofocus" />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>

                }
                <!-- login password -->
                <div class="form-item">
                    <label for="" class="form-label">
                        <a style="padding-right: 22px;" asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                        Password
                    </label>
                    <div class="form-fields">
                        <input asp-for="Password" class="password input-text J-password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>

                <div class="form-btn" style="margin-right: 20px;">
                    <button class="btn btn-main login-button" id="sign-in-submit" tabindex="5" type="submit" value="@T("Account.Login.LoginButton")">Sign In</button>
                </div>


                @if (Model.DisplayCaptcha)
                {
                    <div class="captcha-box">
                        <nop-captcha />
                    </div>
                }

                <input id="baseNextPage" name="baseNextPage" type="hidden" value="https://www.made-in-china.com/">
                <input id="applyGTSource" name="applyGTSource" type="hidden" value="">
                <input type="hidden" name="rembemberLoginNameFlag" value="1">
                <input type="hidden" id="validateNumberError" value="">
                <input type="hidden" id="logonError" value="">
                <input type="hidden" id="needValidate" value="false">

                <input type="hidden" id="isAbroadIp" value="1">
                <input type="hidden" id="comRole" value="">
                <input type="hidden" id="isChinaMainLandIP" value="1">
                <input type="hidden" id="J-SlideNav-Survey" islogin="0" isabroadip="1" comid="0" isbuyer="0" comrole="">
                <input type="hidden" name="jumpNext" id="jumpNext" value="">
            </form>
            <p class="form-help" style="padding-top: 15px; margin-right: 20px;">
                New User? <a rel="nofollow" href='@registerUrl' value="@T("Account.Register")">Join Free</a>
                <span class="sign-in-with" id="scLogin">Sign in with:<a class="facebook" title="Facebook" href="javascript:void(0);"><i class="icon"></i></a><a class="linkedin" title="LinkedIn" href="javascript:void(0);"><i class="icon"></i></a></span>
            </p>
        </div>
    </div>
    <div class="bottom"></div>
</div>
<style>
    .flex-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .flex-items {
        min-width: 250px;
    }
</style>