﻿@model RegisterModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");

 
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}

<link href="~/Themes/MadeInBangladesh/Content/css/register-responsive.css" rel="stylesheet" />

<div class="master-wrapper-content">
    <div class="master-column-wrapper">
        <div class="center-1">
            <div class="page registration-page">
                <div class="page-title">
                    <h1>@T("Account.Register")</h1>
                </div>
                <div class=" page-body flex-container">

                    <form id="register-form" asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.YourPersonalDetails")</strong>
                            </div>
                            <div class="form-fields">
                                <div class="inputs">
                                    <label>Account Type:</label>
                                    <div class="account-type">
                                        <span class="buyer">
                                            <input type="radio" asp-for="AccountType" value="1" checked="@(Model.AccountType == 1)" id="buyer" />
                                            <label class="forcheckbox" for="buyer">Buyer</label>
                                        </span>
                                        <span class="supplier">
                                            <input type="radio" asp-for="AccountType" value="2" checked="@(Model.AccountType == 2)" id="supplier" />
                                            <label class="forcheckbox" for="supplier">Supplier</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="inputs">
                                    <label>Membership Type:</label>
                                    <div class="membership-type">
                                        <span class="free-member">
                                            <input type="radio" asp-for="MembershipType" value="@Model.MembershipType" checked="@(Model.MembershipType == 1)" id="free-member" />
                                            <label class="forcheckbox" for="free-member">Free</label>
                                        </span>
                                        <span class="paid-member">
                                            <input type="radio" asp-for="MembershipType" value="2" checked="@(Model.MembershipType == 2)" id="paid-member" disabled />
                                            <label class="forcheckbox" for="paid-member">Paid</label>
                                        </span>
                                    </div>
                                </div>

                                @if (Model.GenderEnabled)
                                {
                                    <div class="inputs">
                                        <label>@T("Account.Fields.Gender"):</label>
                                        <div class="gender">
                                            <span class="male">
                                                <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                                <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                            </span>
                                            <span class="female">
                                                <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                                <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                            </span>
                                        </div>
                                    </div>
                                }
                                <div class="inputs">
                                    <label asp-for="FirstName" asp-postfix=":"></label>
                                    <input asp-for="FirstName" />
                                    <nop-required />
                                    <span asp-validation-for="FirstName"></span>
                                </div>
                                <div class="inputs">
                                    <label asp-for="LastName" asp-postfix=":"></label>
                                    <input asp-for="LastName" />
                                    <nop-required />
                                    <span asp-validation-for="LastName"></span>
                                </div>
                                @if (Model.DateOfBirthEnabled)
                                {
                                    <div class="inputs date-of-birth">
                                        <label>@T("Account.Fields.DateOfBirth"):</label>
                                        <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                         asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                         asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                         asp-begin-year="@(DateTime.Now.Year - 110)"
                                                         asp-end-year="@(DateTime.Now.Year)"
                                                         asp-selected-day="@Model.DateOfBirthDay"
                                                         asp-selected-month="@Model.DateOfBirthMonth"
                                                         asp-selected-year="@Model.DateOfBirthYear" />
                                        @if (Model.DateOfBirthRequired)
                                        {
                                            <nop-required />
                                        }
                                        <span asp-validation-for="DateOfBirthDay"></span>
                                        <span asp-validation-for="DateOfBirthMonth"></span>
                                        <span asp-validation-for="DateOfBirthYear"></span>
                                    </div>
                                }
                                <div class="inputs">
                                    <label asp-for="Email" asp-postfix=":"></label>
                                    <input asp-for="Email" />
                                    <nop-required />
                                    <span asp-validation-for="Email"></span>
                                </div>
                                @if (Model.EnteringEmailTwice)
                                {
                                    <div class="inputs">
                                        <label asp-for="ConfirmEmail" asp-postfix=":"></label>
                                        <input asp-for="ConfirmEmail" />
                                        <nop-required />
                                        <span asp-validation-for="ConfirmEmail"></span>
                                    </div>
                                }
                                @if (Model.UsernamesEnabled)
                                {
                                    <div class="inputs">
                                        <label asp-for="Username" asp-postfix=":"></label>
                                        <input asp-for="Username" />
                                        <nop-required />
                                        <span asp-validation-for="Username"></span>
                                        @if (Model.CheckUsernameAvailabilityEnabled)
                                        {
                                            @await Html.PartialAsync("_CheckUsernameAvailability")
                                        }
                                    </div>

                                }
                            </div>
                        </div>
                        @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                        {
                            <div class="fieldset company-info">
                                <div class="title">
                                    <strong>@T("Account.CompanyDetails")</strong>
                                </div>
                                <div class="form-fields">
                                    @if (Model.CompanyEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="Company" asp-postfix=":"></label>
                                            <input asp-for="Company" />
                                            @if (Model.CompanyRequired)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="Company"></span>
                                        </div>
                                    }
                                    @if (Model.DisplayVatNumber)
                                    {
                                        <div class="inputs">
                                            <label asp-for="VatNumber" asp-postfix=":"></label>
                                            <input asp-for="VatNumber" />
                                            <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled
|| Model.CityEnabled || Model.CountryEnabled)
                        {
                            <div class="fieldset">
                                <div class="title">
                                    <strong>@T("Account.YourAddress")</strong>
                                </div>
                                <div class="form-fields">
                                    @if (Model.StreetAddressEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="StreetAddress" asp-postfix=":"></label>
                                            <input asp-for="StreetAddress" />
                                            @if (Model.StreetAddressRequired)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="StreetAddress"></span>
                                        </div>
                                    }
                                    @if (Model.StreetAddress2Enabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="StreetAddress2" asp-postfix=":"></label>
                                            <input asp-for="StreetAddress2" />
                                            @if (Model.StreetAddress2Required)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="StreetAddress2"></span>
                                        </div>
                                    }
                                    @if (Model.ZipPostalCodeEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                                            <input asp-for="ZipPostalCode" />
                                            @if (Model.ZipPostalCodeRequired)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="ZipPostalCode"></span>
                                        </div>
                                    }
                                    @if (Model.CityEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="City" asp-postfix=":"></label>
                                            <input asp-for="City" />
                                            @if (Model.CityRequired)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="City"></span>
                                        </div>
                                    }
                                    @if (Model.CountryEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="CountryId" asp-postfix=":"></label>
                                            <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
                                            @if (Model.CountryRequired)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="CountryId"></span>
                                        </div>
                                    }
                                    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="StateProvinceId" asp-postfix=":"></label>
                                            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                            @if (Model.StateProvinceRequired)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="StateProvinceId"></span>
                                            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.PhoneEnabled || Model.FaxEnabled)
                        {
                            <div class="fieldset">
                                <div class="title">
                                    <strong>@T("Account.YourContactInformation")</strong>
                                </div>
                                <div class="form-fields">
                                    @if (Model.PhoneEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="Phone" asp-postfix=":"></label>
                                            <input asp-for="Phone" />
                                            @if (Model.PhoneRequired)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="Phone"></span>
                                        </div>
                                    }
                                    @if (Model.FaxEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="Fax" asp-postfix=":"></label>
                                            <input asp-for="Fax" />
                                            @if (Model.FaxRequired)
                                            {
                                                <nop-required />
                                            }
                                            <span asp-validation-for="Fax"></span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                        {
                            <div class="fieldset">
                                <div class="title">
                                    <strong>@T("Account.Options")</strong>
                                </div>
                                <div class="form-fields">
                                    @if (Model.NewsletterEnabled)
                                    {
                                        <div class="inputs">
                                            <label asp-for="Newsletter" asp-postfix=":"></label>
                                            <input asp-for="Newsletter" />
                                            <span asp-validation-for="Newsletter"></span>
                                        </div>
                                    }
                                    @if (Model.CustomerAttributes.Count > 0)
                                    {
                                        @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.AllowCustomersToSetTimeZone)
                        {
                            <div class="fieldset">
                                <div class="title">
                                    <strong>@T("Account.Preferences")</strong>
                                </div>
                                <div class="form-fields">
                                    @if (Model.AllowCustomersToSetTimeZone)
                                    {
                                        <div class="inputs">
                                            <label asp-for="TimeZoneId" asp-postfix=":"></label>
                                            <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                            <span asp-validation-for="TimeZoneId"></span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.YourPassword")</strong>
                            </div>
                            <div class="form-fields">
                                <div class="inputs">
                                    <label asp-for="Password" asp-postfix=":"></label>
                                    <input asp-for="Password" />
                                    <nop-required />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="inputs">
                                    <label asp-for="ConfirmPassword" asp-postfix=":"></label>
                                    <input asp-for="ConfirmPassword" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                                @if (Model.DisplayCaptcha)
                                {
                                    <div class="captcha-box">
                                        <nop-captcha />
                                    </div>
                                }
                                @if (Model.HoneypotEnabled)
                                {
                                    @Html.Raw(Html.GenerateHoneypotInput())
                                }
                            </div>
                            @if (Model.AcceptPrivacyPolicyEnabled)
                            {
                                <script type="text/javascript" asp-location="Footer">
                        $(document).ready(function() {
                            $('#register-button').click(function() {
                                if ($('#accept-privacy-policy').is(':checked')) {
                                    //do some stuff
                                    return true;
                                } else {
                                    //just show validation errors, dont post
                                    alert(
                                        '@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                    return false;
                                }
                            });
                        });
                                </script>
                                <div class="accept-privacy-policy">
                                    <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                                    <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                    @if (Model.AcceptPrivacyPolicyPopup)
                                    {
                                        <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                        <script type="text/javascript" asp-location="Footer">
                                $(document).ready(function() {
                                    $('#read-privacyinfo').on('click',
                                        function(e) {
                                            displayPopupContentFromUrl(
                                                '@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})',
                                                '@T("Account.Fields.AcceptPrivacyPolicy")');
                                        });
                                });
                                        </script>
                                    }
                                    else
                                    {
                                        <a class="read" id="read-privacyinfo" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("privacyinfo") })">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                    }
                                </div>
                            }
                        </div>
                        <div class="buttons">
                            <input type="button" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                        </div>
                    </form>
                    <div class="external-authentication">
                        @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#register-button").click(function () {
            if ($("#supplier").prop("checked") == true && $.trim($("#Company").val()) == "") {
                alert('Please enter Company name');
                return;
            }
            else {
                $("#register-form").submit();
            }
        });
    });
    $(window).load(function () {

        if (location.search.indexOf("type") == -1) {
            $(".account-type .supplier").hide();
            $(".paid-member").hide();
            $("#buyer").click();
            $("#free-member").click();
            $(".company-info").hide();
        }
		
		
         
        if (location.search.indexOf("type") == 1 && location.search.split("=")[1] == "0") {
            $("#free-member").click();
            $(".account-type .buyer").hide();
            $("#supplier").click();
			$(".paid-member").hide();
        }

        else if (location.search.indexOf("type") == 1) {
            
            var paymentType = location.search.split("=")[1];
            console.log(paymentType);
            $("#paid-member").removeAttr("disabled").click().attr("value", paymentType);
            $(".free-member").hide();
            $(".account-type .buyer").hide();
            $("#supplier").click();
        }
    });
</script>