﻿@model HeaderLinksModel
@using System.Text.Encodings.Web

@if (Model.WishlistEnabled)
{
    <div class="m-header-menu-item m-header-menu-basket pad-header-menu-item">
        <a rel="nofollow" href="@Url.RouteUrl("Wishlist")">
            <i class=""></i>
            @T("Wishlist")<em class="">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</em>
        </a>
    </div>
}
