﻿@media screen and (max-width:720px) {
    .header .logo {
        display: block;
        width: 100%;
        height: 55px;
        margin: 50px 0 20px;
        background-image: url(/img/logo.png);
        text-indent: -999px;
    }

    .header .help {
        margin-top: 10px;
        float: left;
        font-size: 14px;
        color: #888;
    }
}