/*
*@module: Common core setting
*@Author: juhailin 2014-10-16
*@Update: 
*/
.cf, .grid {
  *zoom: 1;
}
.cf:before, .grid:before, .cf:after, .grid:after {
  content: "";
  display: table;
}
.cf:after, .grid:after {
  clear: both;
}

/*
*@module: CSS-reset
*@Author: zmx 2013-02-16
*@Update: zmx 2014-07-01
*/
html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, group, menu, nav, section {
  margin: 0;
  padding: 0;
}

/* for html5 tag */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

body, button, input, select, textarea {
  font: 12px/1.5 Arial, sans-serif;
}

body {
  font-size: 75%;
}

input, select, textarea {
  vertical-align: middle;
  color: #666;
}

button, input {
  *overflow: visible;
  line-height: normal;
}

/* placeholder add by zmx 2014-04-23 */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

/* for IE7 */
button {
  cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* for firefox */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

fieldset, img {
  border: 0;
}

iframe {
  display: block;
}

blockquote {
  margin: 1em 4em 1em 2em;
  padding: 0.6em 1em;
  background: #f1f1f1;
}

blockquote blockquote {
  padding: 0 0 0 1em;
  margin-left: 2em;
  border-left: 0.4em solid #dddddd;
}

acronym, abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
}

abbr {
  cursor: help;
}

del {
  text-decoration: line-through;
}

address, caption, cite, code, den, em, th, var {
  font-style: normal;
  font-weight: 500;
}

ul, ol {
  list-style: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* link color */
a {
  color: #246bb3;
}

a:hover {
  color: #f60;
  text-decoration: underline;
}

ins, a {
  text-decoration: none;
}

small {
  font-size: 11px;
  color: #888;
}

/*delete by zmx 2013-04-25
:focus {
  outline: none;
}*/
/* clearfix */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Layout */
.grid {
  width: 990px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.c {
  text-align: center;
}

.l {
  text-align: left;
}

.r {
  text-align: right;
}

/* standard color */
.red {
  color: #e64552;
}

.orange {
  color: #f89406;
}

.yellow {
  color: #ffc40d;
}

.green {
  color: #54b154;
}

.blue {
  color: #049cdb;
}

.purple {
  color: #864ac7;
}

.orangered {
  color: #d62c78;
}

/* font */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 18px;
}

.h3 {
  font-size: 14px;
}

.h4, .h5, .h6 {
  font-size: 12px;
}

/*
*@module: font-icon
*@Author: zmx 2013-02-16
*@Update: zmx 2013-02-16
*/
@font-face {
  font-family: 'Micon';
  src: url("/css/font/micon.eot?v=20140312");
  src: url("/css/font/micon.eot?#iefix&v=20140312") format("embedded-opentype"), url("/css/font/micon.woff?v=20140312") format("woff"), url("/css/font/micon.ttf?v=20140312") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: Micon;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  margin-right: 5px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *display: inline;
  *zoom: 1;
  line-height: 28px;
  height: 28px;
  text-align: center;
  padding: 0 15px;
  color: #333;
  overflow: visible;
  cursor: pointer;
  -webkit-text-shadow: 1px 1px #fff;
  text-shadow: 1px 1px #fff;
  background-color: #f3f3f3;
  border: solid 1px #ccc;
  border-radius: 2px;
  background-image: -webkit-repeating-linear-gradient(top, #f7f7f7, #e6e6e6);
  background-image: -o-repeating-linear-gradient(top, #f7f7f7, #e6e6e6);
  background-image: repeating-linear-gradient(to bottom, #f7f7f7, #e6e6e6);
}

a.btn,
a.btn:link,
a.btn:visited {
  height: 26px;
  line-height: 26px;
}

button.btn {
  *padding: 0 5px;
  overflow: hidden;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *display: inline;
  /**zoom: 1;*/
  line-height: 28px;
  height: 28px;
  text-align: center;
  padding: 0 10px;
  color: #333;
  overflow: visible;
  cursor: pointer;
  -webkit-text-shadow: 1px 1px #fff;
  text-shadow: 1px 1px #fff;
  background-color: #f3f3f3;
  border: solid 1px #ccc;
  border-radius: 2px;
  background-image: -webkit-repeating-linear-gradient(top, #f7f7f7, #e6e6e6);
  background-image: -o-repeating-linear-gradient(top, #f7f7f7, #e6e6e6);
  background-image: repeating-linear-gradient(to bottom, #f7f7f7, #e6e6e6);
  line-height: 24px;
  height: 24px;
}

a.btn-small,
a.btn-small:link,
a.btn-small:visited {
  height: 22px;
  line-height: 22px;
  _height: 27px;
  _line-height: 27px;
}

.btn-large,
.btn-large:link,
.btn-large:visited {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *display: inline;
  *zoom: 1;
  line-height: 28px;
  height: 28px;
  text-align: center;
  padding: 0 25px;
  color: #333;
  overflow: visible;
  cursor: pointer;
  -webkit-text-shadow: 1px 1px #fff;
  text-shadow: 1px 1px #fff;
  background-color: #f3f3f3;
  border: solid 1px #ccc;
  border-radius: 2px;
  background-image: -webkit-repeating-linear-gradient(top, #f7f7f7, #e6e6e6);
  background-image: -o-repeating-linear-gradient(top, #f7f7f7, #e6e6e6);
  background-image: repeating-linear-gradient(to bottom, #f7f7f7, #e6e6e6);
  font-size: 14px;
  line-height: 36px;
  height: 36px;
}

a.btn-large,
a.btn-large:link,
a.btn-large:visited {
  height: 34px;
  line-height: 34px;
  _height: 38px;
  _line-height: 39px;
}

.btn-link,
.btn-link:hover {
  border: none !important;
  color: #246bb3 !important;
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
}

input.btn {
  _height: 24px;
  _line-height: 23px;
}

input.btn,
input.btn:hover,
input.btn:link,
input.btn:visited {
  *border: none;
  *line-height: 30px;
}

button.btn,
button.btn:hover,
button.btn:link,
button.btn:visited {
  *border: none;
  *line-height: 26px;
}

input.btn-large,
button.btn-large {
  *padding: 0 25px;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  color: #333;
  background-color: #e9e9e9;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(top, #f7f7f7, #e6e6e6);
  background-image: -o-repeating-linear-gradient(top, #f7f7f7, #e6e6e6);
  background-image: repeating-linear-gradient(to bottom, #f7f7f7, #e6e6e6);
}

.btn:active,
.btn-large:active,
.btn-small:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-main,
.btn-main:link,
.btn-main:visited {
  color: #fff;
  background-color: #e64545;
  border: solid 1px #e64545;
  -webkit-text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  background-image: -webkit-repeating-linear-gradient(top, #e65050, #e64545);
  background-image: -o-repeating-linear-gradient(top, #e65050, #e64545);
  background-image: repeating-linear-gradient(to bottom, #e65050, #e64545);
}

.btn-main:hover {
  color: #fff;
  background-color: #e64545;
  border: solid 1px #e64545;
  -webkit-text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(top, #e64545, #e65050);
  background-image: -o-repeating-linear-gradient(top, #e64545, #e65050);
  background-image: repeating-linear-gradient(to bottom, #e64545, #e65050);
}

.btn-main:active {
  color: #fff;
  background-color: #e65050;
  border: solid 1px #e64545;
  -webkit-text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(top, #e64545, #e65050);
  background-image: -o-repeating-linear-gradient(top, #e64545, #e65050);
  background-image: repeating-linear-gradient(to bottom, #e64545, #e65050);
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:link,
.btn-disabled:visited {
  color: #999;
  background-color: #dcdcdc;
  border: solid 1px #d4d4d4;
  -webkit-text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.1);
  background-image: -webkit-repeating-linear-gradient(top, #d9d9d9, #e0e0e0);
  background-image: -o-repeating-linear-gradient(top, #d9d9d9, #e0e0e0);
  background-image: repeating-linear-gradient(to bottom, #d9d9d9, #e0e0e0);
}

.btn-system,
.btn-system:link,
.btn-system:visited {
  color: #fff;
  background-color: #538eed;
  border: solid 1px #4582e5;
  border-radius: 2px;
  -webkit-text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  background-image: -webkit-repeating-linear-gradient(top, #6498ed, #4787ed);
  background-image: -o-repeating-linear-gradient(top, #6498ed, #4787ed);
  background-image: repeating-linear-gradient(to bottom, #6498ed, #4787ed);
}

.btn-system:hover {
  color: #fff;
  background-color: #538eed;
  border: 1px solid #4582e5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(top, #4787ed, #6498ed);
  background-image: -o-repeating-linear-gradient(top, #4787ed, #6498ed);
  background-image: repeating-linear-gradient(to bottom, #4787ed, #6498ed);
}

.btn-system:active {
  color: #fff;
  background-color: #538eed;
  border: 1px solid #4582e5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(top, #4787ed, #6498ed);
  background-image: -o-repeating-linear-gradient(top, #4787ed, #6498ed);
  background-image: repeating-linear-gradient(to bottom, #4787ed, #6498ed);
}

.btn-succ,
.btn-succ:link,
.btn-succ:visited {
  color: #fff;
  background-color: #49ac49;
  border: solid 1px #42a642;
  border-radius: 2px;
  -webkit-text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  text-shadow: 0 1px rgba(51, 51, 51, 0.3);
  background-image: -webkit-repeating-linear-gradient(top, #50b250, #42a642);
  background-image: -o-repeating-linear-gradient(top, #50b250, #42a642);
  background-image: repeating-linear-gradient(to bottom, #50b250, #42a642);
}

.btn-succ:hover {
  color: #fff;
  background-color: #49ac49;
  border: 1px solid #42a642;
  background-image: -webkit-repeating-linear-gradient(top, #42a642, #50b250);
  background-image: -o-repeating-linear-gradient(top, #42a642, #50b250);
  background-image: repeating-linear-gradient(to bottom, #42a642, #50b250);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-succ:active {
  color: #fff;
  background-color: #49ac49;
  border: 1px solid #42a642;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(top, #42a642, #50b250);
  background-image: -o-repeating-linear-gradient(top, #42a642, #50b250);
  background-image: repeating-linear-gradient(to bottom, #42a642, #50b250);
}

.btn-warning,
.btn-warning:link,
.btn-warning:visited {
  color: #703602;
  background-color: #ffb319;
  border: solid 1px #ffb319;
  border-radius: 2px;
  -webkit-text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background-image: -webkit-repeating-linear-gradient(top, #ffb726, #ffb319);
  background-image: -o-repeating-linear-gradient(top, #ffb726, #ffb319);
  background-image: repeating-linear-gradient(to bottom, #ffb726, #ffb319);
}

.btn-warning:hover {
  color: #703602;
  background-color: #ffb319;
  border: solid 1px #ffb319;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(top, #ffb319, #ffb726);
  background-image: -o-repeating-linear-gradient(top, #ffb319, #ffb726);
  background-image: repeating-linear-gradient(to bottom, #ffb319, #ffb726);
}

.btn-warning:active {
  color: #703602;
  background-color: #ffb319;
  border: solid 1px #ffb319;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-repeating-linear-gradient(top, #ffb319, #ffb726);
  background-image: -o-repeating-linear-gradient(top, #ffb319, #ffb726);
  background-image: repeating-linear-gradient(to bottom, #ffb319, #ffb726);
}

/*
*@libs: topbar& header & footer
*@Author: zmx 2013-02-18
*@Update: zmx 2013-04-11
*/
.dropmenu {
  position: relative;
}

.dropmenu-hd {
  display: inline-block;
  _zoom: 1;
  _display: inline;
}

.dropmenu-list {
  display: none;
  position: absolute;
  background: #fff;
}

.dropmenu-list a {
  display: block;
  line-height: 22px;
  padding: 0 10px;
  text-decoration: none;
}

.dropmenu.hover .dropmenu-list {
  display: block;
}

.dropmenu-list a:hover {
  margin-left: -1px;
  _margin-right: -1px;
  position: relative;
  background: #f1f1f1;
  color: #fff;
}

#top .dropmenu-hd {
  padding: 0 5px 0 10px;
  height: 22px;
  z-index: 2;
}

#top .dropmenu-hd .icon {
  font-size: 14px;
  vertical-align: -2px;
  color: #888;
}

#top .dropmenu-list {
  border: 1px solid #ccc;
  margin-top: -1px;
  top: 21px;
  z-index: 1;
  _width: 100px;
}

#top .hover .dropmenu-hd {
  border: 1px solid #ccc;
  border-bottom: none;
  background: #fff;
  position: relative;
  height: 21px;
  top: -1px;
  padding: 0 4px 0 9px;
}

#top .hover .dropmenu-list {
  display: block;
}

/*topbar start*/
#top {
  border-bottom: 1px solid #ddd;
  background: #fff;
  height: 27px;
  line-height: 21px;
  min-width: 990px;
}

#top .grid {
  padding: 3px 0;
}

#top a {
  color: #666;
  text-decoration: none;
}

#top .red {
  color: #e64552;
}

#top .menu-item {
  float: left;
  margin-left: -1px;
  padding: 0 10px;
  background: url(/common/img/icon/sep-line.png) right 50% no-repeat;
}

#top .dropmenu {
  padding: 0;
}

/*nav-left*/
#top .user-nav {
  float: left;
  margin-left: 5px;
}

#top .user-nav .first {
  padding-left: 0;
  position: relative;
}

#top .user-nav .first a {
  color: #e64545;
}

#top .first .tips {
  top: 26px;
  left: 50px;
  width: 105px;
  color: #666;
  padding: 4px 10px;
}

#top .user-nav .signin {
  font-weight: bold;
}

#top .user-nav .signin a {
  color: #e64545;
}

#top .last, #top .quick-nav, #top .signin {
  background: none;
}

/*nav-right*/
#top .site-nav {
  float: right;
}

#top .site-nav .inquiry .icon {
  color: #807474;
}

#top .dropmenu-list a {
  white-space: nowrap;
}

#top .supplier-guide .dropmenu-list {
  left: 0px;
}

#top .supplier-guide .dropmenu-list a:hover {
  color: #fff;
  padding: 0 10px 0 11px;
  background: #807474;
}

#top .buyer-guide .dropmenu-list {
  left: 0px;
}

#top .buyer-guide .dropmenu-list a:hover {
  color: #fff;
  padding: 0 10px 0 11px;
  background: #807474;
}

#top .multi-lang, #top .quick-nav, #top .buyer-guide, #top .supplier-guide {
  z-index: 99;
}

#top .multi-lang .dropmenu-list {
  right: 0;
}

#top .multi-lang .dropmenu-list a:hover {
  color: #fff;
  padding: 0 10px 0 11px;
  background: #807474;
}

#top .quick-nav .dropmenu-list {
  width: 185px;
  right: 0;
}

#top .quick-nav .dropmenu-list a {
  width: 155px;
  background: url(/common/img/icon/li-dot.png) 10px 50% no-repeat;
  padding: 0 10px 0 20px;
}

#top .quick-nav .dropmenu-list a:hover {
  color: #fff;
  width: 156px;
  padding: 0 10px 0 21px;
  background: #807474 url(/common/img/icon/li-dot-reverse.png) 11px 50% no-repeat;
}

#top .quick-nav dl {
  line-height: 22px;
}

#top .quick-nav dt {
  margin: 5px 0 3px 0;
  background: #f1f1f1;
  padding: 0 10px;
  font-size: 11px;
  font-weight: bold;
  line-height: 22px;
  color: #666;
  -webkit-text-size-adjust: none;
}

#top .quick-nav .title {
  padding: 0 10px;
  color: #999;
}

/*@libs: header and footer
*@Author: zmx 2013-02-18
*@Update: zmx 2013-04-11
*/
#header {
  height: 80px;
}

#header .logo {
  float: left;
  margin-top: 10px;
}

#header .logo a {
  display: block;
  width: 224px;
  height: 55px;
  background-image: url(/common/img/logo.png);
  text-indent: -999px;
  overflow: hidden;
}

#header .logo a:hover {
  background-position: left -55px;
}

#header .sub-logo {
  display: block;
  line-height: 36px;
  height: 36px;
  font-size: 18px;
  color: #666;
  margin: 23px 0 0 10px;
  border-left: 1px solid #ccc;
  float: left;
  padding-left: 15px;
}

#header .sub-logo:hover {
  color: #333;
  text-decoration: none;
}

/*header-flago*/
#header .top-flago {
  float: right;
  width: 489px;
  text-align: right;
  position: relative;
  margin-top: 10px;
}

#header .top-flago .top-flago-pro {
  position: absolute;
  left: 0;
  top: 0;
}

#header .top-flago .top-flago-as {
  position: absolute;
  right: 0;
  top: 0;
}

#header .nav {
  float: right;
  margin-top: 23px;
}

#header .nav li {
  float: left;
  font-size: 13px;
  line-height: 28px;
}

#header .nav li a {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #666;
  display: block;
  padding: 0 10px;
  text-decoration: none;
}

#header .nav li a:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background: #807474;
  color: #fff;
}

#header .nav li .icon {
  font-size: 14px;
}

/*
/*
*@libs: homepage-footer
*@Author: zmx 2013-02-18
*@Update: zmx 2013-04-11
*/
#footer {
  background: #f3f3f3;
  color: #999;
  text-align: center;
  line-height: 18px;
  min-width: 990px;
  padding: 0;
  border: 0 none;
  font-size: 12px;
}

#footer a, #footer a:visited {
  color: #999;
}

#footer a:hover {
  color: #ff850a;
}

#footer .contact {
  background: #f3f3f3;
  border-top: none;
  border-bottom: 1px solid #ddd;
  width: 990px;
  margin: 0 auto;
  padding: 15px 0 12px;
}

#footer .mobile-links {
  font-size: 14px;
  color: #222;
  float: left;
}

#footer .mobile-links a {
  display: inline-block;
}

#footer .mobile-links img {
  vertical-align: middle;
}

#footer .contact-us, #footer .contact-us:visited, #footer .tm-link, #footer .sns {
  float: right;
  display: inline-block;
  line-height: 24px;
  height: 30px;
  margin-top: 2px;
  overflow: hidden;
  font-size: 14px;
  text-decoration: none;
}

#footer .contact-us {
  padding-left: 30px;
  color: #222 !important;
}

#footer .contact-us .icon {
  font-size: 26px;
  vertical-align: -4px;
  color: #4EB860;
}

#footer .sns {
  margin-right: 30px;
}

#footer .sns .title {
  font-size: 14px;
  line-height: 28px;
  padding: 0;
  display: inline-block;
  float: left;
  margin: 0 10px 0 0;
  background: none;
  border: none;
  color: #222;
}

#footer .sns a {
  font-size: 26px;
  color: #999;
  float: left;
  margin-left: 0;
  margin-right: 10px;
  text-decoration: none;
}

#footer .sns a .icon {
  margin-right: 0;
}

#footer .sns .facebook {
  color: #6281c4;
}

#footer .sns .twitter {
  color: #1fc5f9;
}

#footer .sns .gplus {
  color: #e75d67;
}

#footer .tm-link {
  margin-right: 70px;
  color: #222;
}

#footer .tm-link:hover, #footer .tm-link:visited {
  color: #222;
  text-decoration: none;
}

#footer .tm-link:hover .icon {
  color: #6792d1;
}

#footer .tm-link .icon {
  color: #6792d1;
  vertical-align: -4px;
  font-size: 26px;
}

#footer .footer-wrap {
  border-top: none;
  padding: 20px 0px 20px;
}

#footer .quick-index,
#footer .lang-select,
#footer .focus-link {
  line-height: 18px;
  margin: 0px 0 10px 0;
}

#footer .quick-index a, #footer .focus-link a, #footer .lang-select a, #footer .aboutus a {
  margin: 0 10px;
}

#footer .quick-index a {
  margin: 0 6px;
}

#footer .certificate {
  margin-top: 10px;
}

/*
*@libs: crumb
*@Author: zmx 2013-02-18
*@Update: zmx 2013-04-09
*/
.crumb {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-weight: normal;
  color: #888;
  width: 990px;
  margin: 0 auto;
  line-height: 28px;
  text-indent: 10px;
}
.crumb a {
  color: #222;
  font-weight: normal;
}
.crumb a:hover {
  color: #ff850a;
}
.crumb h1, .crumb h2 {
  display: inline;
  font-weight: normal;
}
.crumb .pull-right {
  float: right;
}

.crumb-top {
  border-top: 3px solid #e64545;
}

/*# sourceMappingURL=login-base.css.map */
