﻿.registration-page {
    width: 960px;
    max-width: 100%;
    margin: auto;
    font-size:25px;
    zoom:unset;
}

.flex-container {
    background-color: #ececec4a;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fieldset > .title {
    background-color: white;
    width: 960px;
    max-width: 100%;
    text-align:center;
    padding-top:30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbd3d373;
}

.form-fields {
    position: relative;
    border-top: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding: 30px 15px;
}
.inputs label {
    width: 375px;
    max-width: 100%;
}
@media (min-width: 1001px) {
    .inputs label {
        display: inline-block;
        width: 265px;
        margin: 0 10px 0 0;
        text-align: right;
    }
}
@media (min-width: 1001px) {
    .inputs {
        text-align: left;
    }
}
.inputs {
    position: relative;
    margin: 0 0 15px;
    text-align: left;
    white-space: nowrap;
    font-size: 0;
} 
.buttons {
    background-color: white;
    width: 960px;
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.inputs input[type="text"] {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
}
.inputs input[type="email"]{
    width: 400px;
    max-width: 100%;
}
.inputs input[type="password"]{
    width: 400px;
    max-width: 100%;
}

@media screen and (max-width: 780px) {
    .registration-page {
        width: 960px !important;
        max-width: 100%;
    }
    .fieldset > .title {
        background-color: white;
        width: 960px !important;
        max-width: 100%;
        padding-top: 20px;
        text-align: center;
    }
    .inputs {
        padding-bottom: 10px;
    }
    .inputs > label {
        font-size:15px;
        padding-top:0px;
        padding-bottom:0px;
     }
    .inputs {
        position: relative;
        margin: 0 0 15px;
        text-align: -webkit-center;
        white-space: nowrap;
        font-size: 0;
    }
    .page-body form {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

    .html-registration-page .m-footer.pad-footer {
        margin-top: -60px;
    }

    .html-registration-page .fieldset, .section {
        margin: 0 0 -25px;
    }

    .html-registration-page .buttons {
        padding-bottom: 40px;
    }

    .html-registration-page .m-footer-simple-links-group {
        padding: 7px;
    }
}

@media (min-width: 414px) and (max-width: 736px) {

    .html-registration-page .m-footer.pad-footer{
        margin-top: -60px;
    }
    .html-registration-page .fieldset, .section {
        margin: 0 0 -25px;
    }
    .html-registration-page .buttons {
        padding-bottom: 40px;
    }
    .html-registration-page .m-footer-simple-links-group {
        padding: 7px;
    }
}
@media (min-width: 375px) and (max-width: 812px) {

    .html-registration-page .m-footer.pad-footer {
        margin-top: -60px;
    }

    .html-registration-page .fieldset, .section {
        margin: 0 0 -25px;
    }

    .html-registration-page .buttons {
        padding-bottom: 40px;
    }

    .html-registration-page .m-footer-simple-links-group {
        padding: 7px;
    }
}
@media (min-width: 375px) and (max-width: 667px) {

    .html-registration-page .m-footer.pad-footer {
        margin-top: -60px;
    }

    .html-registration-page .fieldset, .section {
        margin: 0 0 -25px;
    }

    .html-registration-page .buttons {
        padding-bottom: 40px;
    }
    .html-registration-page .m-footer-simple-links-group {
        padding: 7px;
    }
}

@media (min-width: 320px) and (max-width: 568px) {

    .html-registration-page .m-footer.pad-footer {
        margin-top: -60px;
    }

    .html-registration-page .fieldset, .section {
        margin: 0 0 -25px;
    }

    .html-registration-page .buttons {
        padding-bottom: 40px;
    }
    .html-registration-page .m-footer-simple-links-group{
        padding: 7px;
    }
}