/*
*@module: http://membercenter.made-in-china.com/join/
*@Author: LWW 2014-06-17
*@Update: LWW 2014-06-17
*/

/*@import url(/css/font.css);
@import url(/css/reset.css);
@import url(/css/btn.css);
@import url(/css/libs/header.css);*/
@import url(/css/login-base.css);
@import url(validator_register.css);

/*common*/

img { vertical-align:middle;}
.must{color:red;margin:0 4px;font-weight:normal}
.collapsed{display:none;font-size:0;line-height:0;margin:0;padding:0}

.join .main-title{
	border-top: 3px solid #E64545;
	font-size: 28px;
	font-weight: bold;
	line-height: 60px;
}
h2.formTitle{font-weight:normal;color:#333;padding:8px 0 8px 15px;text-align:left;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#f9f9f9;font-size:14px; }
.join .tabForm td{
	padding-left: 10px;
}
.join .tabForm th{
	line-height: 26px;
	width:170px;
	text-align:right;
	padding:8px 10px 8px 5px;
	vertical-align:top;
}
.join .account-type label{
	margin-right: 20px;
}
.join .account-type label input {
	margin-right: 5px
}
.join .keywords-more{
	display: inline-block;
	*display: inline;
	zoom: 1;
    margin-bottom: 5px;
}
.join .moreKey{
	padding: 0;
	margin: 3px 0 0 0;
}
.join .othKey{
	margin: 0;
	border: none;
	background: none;
	padding: 0;
}
.moreKey strong, .othKey strong{
	display:block;
}
.join .othKey .text {
	margin:3px 0;
}
.join .keywords-wrap a{
	font-weight: normal;
	color: #333;
}
.join .keywords-wrap a:hover{
	color: #f60;
	text-decoration: none;
}
.step-tip{
	color: #666;
	overflow: hidden;
	zoom:1;
	line-height: 32px;
}
.step-tip a{
	color: #e64545;
	text-decoration: underline;
}
.join-wrap{
	float:left;
	width:740px;
}
.join-content {
	border: 1px solid #ddd;
	padding-bottom: 20px;
}
.join-wrap h2.first{border-top:none}
.join-wrap .tabForm{
	border: none;
	margin: 10px 0;
}

.join-wrap .text{
	height: 24px;
	line-height: 24px;
	border: 1px solid #ccc;
	padding: 0 3px;
	overflow:hidden;
}

.join-wrap select{
	border: 1px solid #ccc;
	height: 26px;
	line-height: 26px;
	padding: 2px 3px;
}

.join-wrap .mid{
	width: 227px;
}
.join-wrap .short{
	width: 188px;
}
.join-wrap .onError,.join-wrap .onFocus{
	padding: 5px 5px 4px 25px;
	background-position: 0 2px;
}
.step-submit{
	text-align: center
}
#main .sign-in-with a,.sign-in-with a:hover{
	text-decoration: none;
}
#main .sign-in-with .icon{
	font-size:19px;
	vertical-align: middle;
}
#main .sign-in-with .facebook{
	color: #3b5898;
}
#main .sign-in-with .linkedin{
	color: #3691c2;
}
.mail-wrap{position:relative;z-index: 10}
.mail-guess{position:absolute;border: 1px solid #ccc;background: #ccc; background: #fff;padding:0 2px;top:25px;left:0;line-height: 20px;}
.mail-guess li{margin:0 -2px;padding:0 2px;cursor:pointer}
.mail-guess .hover{background: #efefef}
.faptcha-widget #faptcha_response_field { height:38px; line-height:38px; font-size:16px; border:1px solid #ccc; text-align:center; width:90px!important; padding:2px;}
#faptcha_main, #faptcha_input { display:inline-block;*float:left; margin:10px 10px 0 0; vertical-align:top}
.join-info {
	float:right;
	width:230px;
	padding-top:33px;
}
.join-info .sign-in-des {
	border:1px solid #eee;
	margin-top:40px;
	overflow:hidden;
}
.join-info .sign-in-des h3 {
	height:34px;
	line-height:34px;
	padding-left:10px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #eee;
}
.join-info ul li {
	padding:5px 0 5px 15px;
	margin-bottom:-1px;
	color:#999;
	border-bottom:1px dashed #e5e5e5;
    background:url(/images/disc.gif) no-repeat 5px 12px;
}
.stepEnd {padding:10px 0 10px;}
.join-btn { width:740px; padding-bottom:10px; text-align:center; }
.keywords-wrap { margin-top:10px;}
.join-info .sign-in {  border-top:1px solid #ddd;}

.cent{padding:10px 10px 10px 25px;overflow:hidden;zoom:1;line-height:160%}
.cent *{margin-bottom:0}
.cent .words{margin-left:80px}
.cent hr{margin-bottom:5px}
.cent ul{margin:0;padding:1px 0}
.cent li{margin:2px 0 0 15px}
.cent ul li{list-style:disc}
.cent ol li{margin-left:22px}
.wr h4,.wr big{color:#8E4E03}
.wr .cent{background-color:#FFBFBF}
.wr .vonotice{margin-bottom:10px;border:#f3ca4f solid 1px; padding-left:15px;}
.wr .vonotice .editlink,.wa .vonotice .editlink{text-decoration:underline;font-weight:bold;padding:0 3px}

* {
    zoom: unset;
}






























