﻿@model CustomerNavigationModel
@{ 
    var count = 0;
}
<div class="block block-account-navigation">
    <div class="title">
        <strong>@T("Account.Navigation")</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            @await Component.InvokeAsync("Widget", new { widgetZone = "account_navigation_before" })
            @foreach (var item in Model.CustomerNavigationItems)
            {
                if (count < 2)
                {
                    <li class="@item.ItemClass">
                        <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                    </li>
                }
                count++;

            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "account_navigation_after" })
        </ul>
    </div>
</div>
